{% extends 'account/base.html' %}
{% load static %}


{% block content %}
    <div class="row">
        {# Create account. Uses flex classes to put the button at the bottom #}
        <div class="col-sm text-center d-flex flex-column justify-content-between">
            <div class="my-auto">
                <p>Are you hungry?</p>
                <p>Sign up now and join dinner with the other culture associations.</p>
            </div>
            <a class="btn btn-block btn-primary" href="{% url 'account_signup' %}">Create account</a>
{#                <div class="login-horline d-sm-none d-block"></div>#}
        </div>
        <div class="col-sm text-center d-sm-none flex-column mt-5">
            Or login:
        </div>
        <div class="col-sm order-sm-first border-sm-right mt-3">
{#            <div class="login-verline d-none d-sm-block"></div>#}
            <p class="d-none d-sm-block text-center">Already have an account? Log in!</p>

            <form method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
                {# See https://github.com/pennersr/django-allauth/blob/master/allauth/templates/account/login.html #}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}
                {% include "snippets/bootstrap_form.html" %}
                <p><a href="{% url 'oidc_authentication_init' %}">Quadrivium member? Click here.</a></p>
                <p><a href="{% url 'account_reset_password' %}">Forgot password?</a></p>
                <button type="submit" class="btn btn-block btn-primary">Log in</button>
            </form>
        </div>
    </div>
{% endblock %}
