{% extends 'account/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm border-sm-right mt-3">
            <h4>Log in</h4>
            <p>Already have an account? Log in!</p>

            <form method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
                {# See https://github.com/pennersr/django-allauth/blob/master/allauth/templates/account/login.html #}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}
                {% include "snippets/bootstrap_form.html" %}
                <p><a href="{% url 'account_reset_password' %}">Forgot password?</a></p>
                <button type="submit" class="btn btn-block btn-primary">Log in</button>
            </form>
        </div>
        <div class="col-sm d-flex flex-column justify-content-between mt-3">
            <div>
                <h4>Log in using your association account</h4>
                <p>{% include "socialaccount/snippets/provider_list.html" with process="login" %}</p>
            </div>

            <div>
                <h4>Create new account</h4>
                <p>Sign up now and join dinner with the other culture associations.</p>
                <a class="btn btn-block btn-primary" href="{% url 'account_signup' %}">Create account</a>
            </div>
        </div>
    </div>
{% endblock %}
