{% extends "account/base_logged_in.html" %}

{% load i18n %}

{% block tab_password %}active{% endblock %}

{% block tab_content %}
    <p><a href="{% url 'account_profile' %}">&larr; Back to profile</a></p>
    <h1>{% trans "Change password" %}</h1>

    <form method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {% include "snippets/bootstrap_form.html" %}
        <button type="submit" name="action" class="btn btn-primary">{% trans "Change password" %}</button>
    </form>
{% endblock %}
