{% extends 'base.html' %}

{% block content %}
    <h1>Profile</h1>
    {# Username #}
    <form method="post" action="{% url 'account_profile' %}">
        {% csrf_token %}
        {% include "snippets/bootstrap_form.html" with form=user_form %}
        <p><button type="submit" name="user_submit" class="btn btn-primary btn-block">Save</button></p>
    </form>

    <p><a href="{% url 'account_email' %}">Manage your e-mail addresses</a></p>
    <p><a href="{% url 'account_change_password' %}">Change your password</a></p>

    <h2>Dining</h2>
    <form method="post" action="{% url 'account_profile' %}">
        {% csrf_token %}
        {% include "snippets/bootstrap_form.html" with form=dining_form %}
        <p><button type="submit" name="dining_submit" class="btn btn-primary btn-block">Save</button></p>
    </form>

    <h2>Associations</h2>
    {# Todo! #}
{% endblock %}