{% extends 'account/base.html' %}
{% load static %}

{% block content %}
    <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <h3>Account specifications</h3>
        {% include "snippets/bootstrap_form.html" with fields=form.visible_fields|slice:":3" horizontal=True %}
        <h3>Personal details</h3>
        {% include "snippets/bootstrap_form.html" with fields=form.visible_fields|slice:"3:7" horizontal=True %}
        <h3>Memberships</h3>
        {% include "snippets/bootstrap_form.html" with fields=form.visible_fields|slice:"7:8" horizontal=True %}
        <p><span class="text-danger">*</span> required</p>
        <h3>Terms of service</h3>
        <p>
            We care for your privacy, though due to the nature of the service we will openly display
            your name on the dining lists you subscribe on. For full details check our
            <a target="_blank" rel="noopener noreferrer"
               href="{% static "files/Scala Dining App - Privacy Policy 8-4-17.pdf" %}">privacy policy</a>.
            By using the site, you automatically agree to the
            <a target="_blank" rel="noopener noreferrer"
               href="{% static "files/Scala Dining App - User Agreement 8-4-17.pdf" %}">user agreement</a>.
        </p>
        {# This is not checked server-side (but that's probably fine) #}
        <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="tosCheck" required="required">
            <label class="custom-control-label" for="tosCheck">
                I understand and accept both the privacy and the user agreement.
            </label>
        </div>
        <button type="submit" class="btn btn-block btn-primary">Register</button>
    </form>
{% endblock %}
