{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endfor %}
{% endif %}

<div class="row">
    <div class="col-sm-2 mb-3">
        Associations
    </div>
    <div class="col-sm-10">
        {% for field in form.visible_fields %}
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="{{ field.id_for_label }}"
                       name="{{ field.html_name }}" {% if field.value %}checked{% endif %}
                       {% if field.field.disabled %}disabled{% endif %}>
                <label class="custom-control-label w-100 mb-3" for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.field.membership.is_verified %}
                        <span class="badge badge-success">Verified</span>
                    {% elif field.field.membership.is_rejected %}
                        <span class="badge badge-danger">Rejected</span>
                    {% elif field.field.membership.is_pending %}
                        <span class="badge badge-info">Pending</span>
                    {% endif %}
                </label>
            </div>
        {% endfor %}
    </div>
</div>
