{% extends 'base.html' %}

{% block content %}
    <div class="mt-3">
        <h2>{{ association }}</h2>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link{% block tab_overview %}{% endblock %}"
                   href="{% url 'association_overview' association_name=association.slug %}">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% block tab_credits %}{% endblock %}"
                   href="{% url 'association_credits' association_name=association.slug %}">Credits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% block tab_members %}{% endblock %}"
                   href="{% url 'association_members' association_name=association.slug %}">Members</a>
            </li>
        </ul>

        <div class="mt-3">
            {% block details %}{% endblock details %}
        </div>
    </div>
{% endblock %}