{% extends 'accounts/associations_base.html' %}
{% load humanize %}
{% load credit_tags %}

{% block tab_members %} active{% endblock %}

{% block details %}
    <p>
        <a class="btn btn-primary" href="{% url 'association_members_edit' slug=association.slug %}">
            <i class="fas fa-edit"></i> Edit list
        </a>
    </p>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Balance</th>
                <th scope="col">Negative since</th>
            </tr>
            </thead>
            <tbody>
            {% for user in object_list %}
                <tr>
                    <td>{{ user.get_username }}</td>
                    <td>{{ user.get_full_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.account.get_balance|euro }}</td>
                    <td>{{ user.account.negative_since|default:"-" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'snippets/paginator.html' %}
{% endblock %}
