{% extends 'accounts/associations_base.html' %}
{% load form_extras %}

{% block details %}
    <div class="col-12 row mb-3">
        <a class="offset-10 col-2 btn btn-block" href="{% url 'association_members' association_name=association_name %}">
            Back
        </a>
    </div>
    <div class="col-12 row font-bold">
        <div class="col-12 row p-0 m-0">
            <div class="col-2 text-size-3">
                Username
            </div>
            <div class="col-2 text-size-3">
                Full name
            </div>
            <div class="col-3 text-size-3">
                E-mail
            </div>
            <div class="col-3 text-size-3">
                Status
            </div>
            <div class="col-2 text-size-3">
                Action
            </div>
        </div>
        <hr class="col-12">
    </div>

    <form class="col-12 row" method="post">
        {% csrf_token %}
        {% for entry in entries %}
            {% include 'snippets/snippet_member_edits.html' %}
            <hr class="col-12">
        {% endfor %}
    </form>
    {% if show_page_navigation %}
        <div class="col-12 mt-4 row">
            {% for pagenumber in pages %}
                {% if pagenumber == page %}
                    <a class="btn m-1 btn-disabled ">{{ pagenumber }}</a>
                {% else %}
                    <a class="btn m-1" href="{% url 'association_members_edit' page=pagenumber association_name=association_name %}">{{ pagenumber }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {{ msg }}
{% endblock %}