{% extends 'accounts/associations_base.html' %}
{% load form_extras %}
{% load credit_tags %}

{% block tab_overview %} active{% endblock %}

{% block details %}
    {% if pending_memberships %}
        <div class="row">
            <h3 class="col-12">New member requests:</h3>
        </div>
        <form class="row" method="post" action="{% url 'association_members_edit' association_name=association.slug %}?next={{ request.path }}">
            {# Pending member overview #}
            <div class="col-12 table-responsive">
                <table class="table table-hover">
                    <tbody>
                        {% for entry in pending_memberships %}{% include 'accounts/snippet_member_edits.html' %}{% endfor %}
                    </tbody>
                </table>
                {% csrf_token %}
            </div>
        </form>
    {% endif %}

    <div class="row">
        <h3 class="col-12">Latest transactions:</h3>
    </div>
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-hover" >
                <tbody>
                    {% for transaction in transactions %}
                        {% include 'accounts/snippet_credit_history_association.html' %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-block btn-primary"
       href="{% url 'association_transaction' association_name=association.slug %}?chain=True&redirect={% url 'association_credits' association_name=association.slug %}">
        Transfer credits
    </a>

{% endblock %}