{% extends 'base.html' %}
{% load form_extras %}

{% block content %}
    <div class="col-12 my-4">
        {{ association }}<br>
        Balance since {{ balance.start_date }}:
        {% if balance.credit > 0 %}
            &euro;{{ balance.credit }}
        {% else %}
            <span style="color: #efa2a9">
                -&euro;{{ balance.credit }}
                </span>
        {% endif %}

    </div>
    <div class="col-12 row">
        {% for entry in entries %}
            {% if entry|get_class == "Transaction" %}
                {% include 'snippets/snippet_credits_transaction.html' %}
            {% elif entry|get_class == "DiningList" %}
                {% include 'snippets/snippet_credits_dining_list.html' %}
            {% else %}
                <div class="col-11"> {{ entry }}</div>
            {% endif %}
            <hr class="col-12">
        {% endfor %}
    </div>
    <a class="col-12 btn btn-block">
        + Transfer credits
    </a>

    {% if pages > 1 %}
        <div class="col-12 mt-4 row">
            {% for pagenumber in pages %}
                {% if pagenumber == page %}
                    <a class="btn m-1 btn-disabled ">{{ pagenumber }}</a>
                {% else %}
                    <a class="btn m-1" href="{% url 'history_credits' page=pagenumber %}">{{ pagenumber }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}