{% extends 'accounts/associations_base.html' %}
{% load credit_tags %}

{% block tab_credits %} active{% endblock %}

{% block details %}
    <p>
        Association balance: <strong>{{ association.account.get_balance|euro }}</strong>
    </p>
    <p>
        <a class="btn btn-primary" href="{% url 'association_transaction_add' association_name=association.slug %}">
            <i class="fas fa-plus"></i> Money transfer
        </a>
        {% if association.has_min_exception %}
            <a href="{% url 'association_process_negatives' association_name=association.slug %}"
               class="btn btn-secondary">
                Autocorrect negative credits
            </a>
        {% endif %}
        <a href="{% url 'credits:transaction_csv' pk=association.account.pk %}"
           class="btn btn-secondary">
            <i class="fa fa-file-export"></i> Download CSV
        </a>
    </p>
    {% include 'credit_management/transaction_table.html' with account_self=association.account %}

    {% include 'snippets/paginator.html' %}

{% endblock %}