{% extends 'base.html' %}

{% block content %}

        <h2 class="row">{{ association }}</h2>

        <ul class="row nav nav-tabs">
            <li class="nav-item">

                <a class="nav-link{% block tab_overview %}{% endblock %}"
                   href="{% url 'association_overview' association_name=association.slug %}">Overview
                    {% if notify_overview %}<span class="badge badge-pill badge-warning">!</span>{% endif %}
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link{% block tab_credits %}{% endblock %}"
                   href="{% url 'association_credits' association_name=association.slug %}">Credits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% block tab_members %}{% endblock %}"
                   href="{% url 'association_members' association_name=association.slug %}">Members</a>
            </li>
        </ul>

        <div class="row">
            <div class="col-12 p-4">
                {% block details %}{% endblock details %}
            </div>
        </div>
{% endblock %}