{% extends 'accounts/associations_base.html' %}

{% block tab_credits %} active{% endblock %}

{% block details %}
    <h3>Transfer money</h3>
    <p>
        As an association board member you can transfer money from your association account to user accounts or other
        associations.
        Use this to allow members of any association to deposit money in their account.
        Details on how this works can be found on the <a href="{% url 'help_page' %}">help page</a>.
    </p>
    <div class="alert alert-warning">
        A money transfer can only be undone by the receiving party!
        Check the fields carefully before creating a new transaction.
    </div>
    <form method="post">
        {% csrf_token %}
        {% include "snippets/bootstrap_form.html" with horizontal=True %}
        <input type="submit" value="Create transaction" class="btn btn-block btn-primary"/>
    </form>
{% endblock %}