{% extends 'accounts/associations_base.html' %}

{% block tab_site_credits %} active{% endblock %}

{% block details %}
    <div class="table-responsive">
        <table class="table table-hover">
            {# Table header #}
            <thead>
            <tr>
                <td>Association</td>
                <td>Current balance</td>
            </tr>
            </thead>

            <tbody>
            {# Table rows #}
            {% for assoc_id, entry in association_balances.items %}
                <tr>
                    <td>{{ entry.association }}</td>
                    <td>{{ entry.balance }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <h3>Retrieve incomeflow</h3>
    <form method="get">
        {% include "snippets/bootstrap_form_one_line.html" with horizontal=True form=date_range_form submit_value='filter' %}
    </form>

    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-hover">
                {# Table header #}
                <thead>
                <tr>
                    <td>Income</td>
                    <td>Outflox (processed)</td>
                    <td>Netto</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ dining_balance.influx }}</td>
                    <td>{{ dining_balance.outflux }}</td>
                    <td>{{ dining_balance.nettoflux }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>




{% endblock %}