{% extends 'accounts/associations_base.html' %}
{% load form_extras %}
{% load credit_tags %}

{% block details %}
    <div class="col-12 my-4">
        {{ association }}<br>
        Balance since {{ balance.start_date }}:
        {# Todo: balance.credit #}
        {{ 0|euro }}

    </div>
    <div class="col-12 row">
        {% for entry in entries %}
            {% if entry|get_class == "Transaction" %}
                {% include 'snippets/snippet_credits_transaction.html' %}
            {% else %}
                <div class="col-11"> {{ entry }}</div>
            {% endif %}
            <hr class="col-12">
        {% endfor %}
    </div>
    <a class="col-12 btn btn-block">
        + Transfer credits
    </a>

    {% url 'association_credits' association_name=association_name as url %}
    {% include 'snippets/snippet_pagination.html' %}

{% endblock %}