{% extends 'accounts/associations_base.html' %}
{% load credit_tags %}

{% block tab_credits %} active{% endblock %}

{% block details %}
    <h3>Create transactions for members</h3>
    <p>
        By pressing the button below transactions are created for all verified members of this association whose balance
        is
        currently below €0,-.
        The transaction will have your association account as its origin, thus the association balance will decrease.
    </p>
    <p>
        <strong>
            Make sure that you create a physical money transaction that counteracts every transaction created here,
            e.g. by using SEPA direct debit to debit all members that have their balance corrected.
            If you don't do this, money will be lost due to incorrect bookkeeping!
        </strong>
    </p>
    <p>
        There are currently <strong>{{ form.transactions|length }}</strong> members applicable with a total amount of
        <strong>€{{ transactions_sum }}</strong>.
    </p>

    <div class="alert alert-warning">
        Only proceed if you are absolutely certain what this means!
    </div>
    <form method="post">
        {% csrf_token %}
        {% include "snippets/bootstrap_form.html" with horizontal=True %}
        <button type="submit" class="btn btn-primary">Process negative member balances</button>
    </form>
    <p class="mt-3">
        <small>We could add a feature to automatically generate SEPA XML files for the made transactions. If you want
            this, let us know.</small>
    </p>

{% endblock %}