{% extends 'accounts/associations_base.html' %}
{% load form_extras %}

{% block tab_members %} active{% endblock %}

{% block details %}
    <div class="row mb-3">
        <div class="col-3 offset-9">
            <a class="btn btn-block btn-outline-primary"
               href="{% url 'association_members_edit' association_name=association.slug %}">Edit list</a>
        </div>
    </div>

    {# The actual table #}
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-hover">
                {# Table header #}
                <thead>
                <tr>
                    <td>Username</td>
                    <td>Name</td>
                    <td>E-mail</td>
                    <td>Credits</td>
                    <td>Negative since</td>
                </tr>
                </thead>

                <tbody>
                {# Table rows #}
                {% for entry in object_list %}
                    {% include 'accounts/snippet_memberdetails.html' %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {# Bootstrap table instead of this? #}



    {% include 'snippets/paginator.html' %}
{% endblock %}