{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ request.user }} - Dining history {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-hover">
                {# Table header #}
                <thead>
                <tr class="">
                    <td class="">Date</td>
                    <td class="">Dish</td>
                    <td class="">Association</td>
                    <td class="">Claimed by</td>
                    <td class="">Helped</td>
                    <td class="">Paid</td>
                </tr>
                </thead>

                <tbody>
                {# Table rows #}
                {% for entry in dining_entries_select %}
                    {% include 'accounts/snippet_history_dininglist.html' %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% url 'history_lists' as url %}
        {% include 'snippets/snippet_pagination.html' %}
    </div>

{% endblock %}