{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ request.user }} - Dining history {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-hover">
                {# Table header #}
                <thead>
                <tr class="">
                    <td class="">Date</td>
                    <td class="">Dish</td>
                    <td class="">Association</td>
                    <td class="">Claimed by</td>
                    <td class="">Helped</td>
                    <td class="">Paid</td>
                </tr>
                </thead>

                <tbody>
                {# Table rows #}
                {% for entry in dining_entries_select %}
                    <tr>
                        <td>
                            {{ entry.dining_list.date }}
                        </td>
                        <td>
                            {{ entry.dining_list.dish }}
                        </td>
                        <td>
                            {{ entry.dining_list.association.slug }}
                        </td>
                        <td>
                            {{ entry.dining_list.claimed_by }}
                        </td>
                        <td>
                            {% if entry.has_shopped %} Shop {% endif %}
                            {% if entry.has_cooked %} Cook {% endif %}
                            {% if entry.has_cleaned %} Dishes {% endif %}
                        </td>
                        <td>
                            {% if entry.has_paid %} P {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% url 'history_lists' as url %}
        {% include 'snippets/snippet_pagination.html' %}
    </div>

{% endblock %}