{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ request.user }} - Dining history {% endblock %}

{% block content %}
    <div class="row col-12 p-0 m-0 text-size-3">
        <div class="row col-12 m-0 p-0 p-md-2 py-2 font-bold">
            <div class="col-4 col-sm-2 p-0">
                Date
            </div>
            <div class="col-8 col-sm-3 p-0">
                Dish
            </div>
            <div class="col-4 order-1 order-sm-0 col-sm-2 p-0">
                Claimed by
            </div>
            <div class="col-4 col-sm-2 p-0">
                Association
            </div>
            <div class="show-sm col-sm-1 p-0">
                Diners
            </div>
        </div>
        {% for entry in dining_entries_select %}
            <hr class="col-12 m-0">
            {% include 'snippets/snippet_history_dininglist.html' %}
        {% endfor %}
        <br><br>

        {% url 'history_lists' as url %}
        {% include 'snippets/snippet_pagination.html' %}
    </div>

{% endblock %}