{% load form_extras %}

<div class="">
    <h3>Account specifications</h3>
    {% for field in account_form %}
        {% include 'snippets/field_snippet.html' %}
        <br>
    {% endfor %}

    <h3>Personal information</h3>
    {% for field in account_detail_form %}
        {% include 'snippets/field_snippet.html' %}
        <br>
    {% endfor %}

    <h3>Memberships</h3>
    At what associations are you active?<br>
    {% if associationlink_form.non_field_errors %}
            {% for error in associationlink_form.non_field_errors %}
                <div class="offset-sm-3 col-sm-9 error">{{ error }}</div>
            {% endfor %}
    {% endif %}
    {% for field in associationlink_form %}
        <div class="selectors">
            {{ field|css:"hide" }}
            <label for="{{ field.id_for_label }}" class="col-sm-8 offset-sm-3 btn btn-checkbox">{{ field.label }}</label>
        </div>
    {% endfor %}

    <h3>Terms of service</h3>
    <div class="offset-sm-3 col-sm-8">
    We care for your privacy, though due to the nature of the service we will openly display your name on the
        dining lists you subscribe on. For full details check our <a href="#">privacy document</a>.<br>
    To ensure proper and fair use for all, please follow the rules as stated in our <a href="#">user agreement</a>
    </div><br>

    <label for="accept_rules" class="row m-0">

            <div class="col-1 col-sm-3 p-2">
                <input type="checkbox" id="accept_rules" required="True" class=""/>
                <div class="checkbox"></div>
            </div>
            <div class="col-11 col-sm-9">
                I understand and accept both the privacy and the user guidelines.
            </div>

    </label>


    <br><br>
</div>



<input type="submit" value="Register" class="btn btn-block btn-primary"/>
<br><br><br>
