{% extends 'base_no_navbar.html' %}
{% load form_extras %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/Log-in.css' %}">
{% endblock %}

{% block body %}
    <div class="col-12  min-height-33vh min-height-sm-200px">
        <div class="DiningLogo"></div>
        <p class="text-center DiningTitle">Scala Dining</p>

        <div class="show-sm">
        </div>
    </div>

    <div class="container">
        <div class="row width-max-lg text-size-md-5">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}

                    <div class="">
                        <h3>Account specifications</h3>
                        {% include "snippets/bootstrap_form.html" with form=account_form %}

                        <h3>Personal information</h3>
                        {% include "snippets/bootstrap_form.html" with form=account_detail_form %}

                        <h3>Memberships</h3>
                        {% include "snippets/bootstrap_form.html" with form=associationlink_form %}

                        <h3>Terms of service</h3>
                        {# Todo: privacy documents #}
                        <div class="offset-sm-3 col-sm-8">
                            We care for your privacy, though due to the nature of the service we will openly display
                            your name on the
                            dining lists you subscribe on. For full details check our <a href="#">privacy
                            document</a>.<br>
                            To ensure proper and fair use for all, please follow the rules as stated in our <a href="#">user
                            agreement</a>
                        </div>
                        <br>

                        <label for="accept_rules" class="row m-0">

                            <div class="col-1 col-sm-3 p-2">
                                <input type="checkbox" id="accept_rules" required="required" class=""/>
                                <div class="checkbox"></div>
                            </div>
                            <div class="col-11 col-sm-9">
                                I understand and accept both the privacy and the user guidelines.
                            </div>

                        </label>


                        <br>
                        <br>
                    </div>


                    <input type="submit" value="Register" class="btn btn-block btn-primary">
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}