{% extends 'base.html' %}

{% block content %}
    <div class="width-max-lg m-auto pb-3">
        <div class="row tab-list">
            <a class="{% if tab_account %}active{% endif %}" href="{% url 'settings_essential' %}">
                Account info
            </a>
            <a class="{% if tab_dining %}active{% endif %}" href="{% url 'settings_dining' %}">
                Dining settings
            </a>
        </div>
    </div>

    <div>
        {% block details %}{% endblock details %}
    </div>

{% endblock %}