{% extends 'base.html' %}

{% block content %}
    {% block slot_navigation %}
        <div class="width-max-lg m-auto">
            <div class="row tab-list">
                <a class="
                    {% if tab_account %}
                        active"
                {% else %}"
                    href="{% url 'settings_essential' %}"
                {% endif %}>
                Account info
                </a>
                <a class="
                    {% if tab_dining %}
                        active"
                {% else %}"
                    href="{% url 'settings_dining' %}"
                {% endif %}>Dining settings
                </a>
            </div>
        </div>
    {% endblock slot_navigation %}


    <div class="col-12 row p-0 m-0 pt-4 pb-5 mb-5">
        {% block details%}
            Contents
        {% endblock details %}
    </div>


{% endblock %}