{% extends 'accounts/associations_base.html' %}

{% block tab_site_credits %} active{% endblock %}

{% block details %}
    <p>
        <a href="{% url 'association_site_transaction_add' slug=association.slug %}"
           class="btn btn-primary">
            <i class="fas fa-plus"></i> New site-wide transaction
        </a>
    </p>
    <h3>Associations</h3>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Association</th>
                <th scope="col" class="text-right w-25">Balance</th>
                <th scope="col" class="text-right w-25">#</th>
            </tr>
            </thead>
            <tbody>
            {% for a in associations %}
                <tr>
                    <td>{{ a.name }}</td>
                    <td class="text-right">{{ a.account.get_balance }}</td>
                    <td class="text-right">
                        <a href="{% url 'association_site_credit_detail' slug=association.slug pk=a.account.pk %}">
                            Details
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h3>Bookkeeping accounts</h3>
    <p>
        These accounts are used for bookkeeping of site-wide money flows such as kitchen cost.
        If you need additional bookkeeping accounts, ask one of the site admins to add those.
        Create site-wide transactions to move money between bookkeeping or other accounts.
    </p>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Account</th>
                <th scope="col" class="text-right w-25">Balance</th>
                <th scope="col" class="text-right w-25">#</th>
            </tr>
            </thead>
            <tbody>
            {% for a in special_accounts %}
                <tr>
                    <td>
                        {{ a.get_special_display }}
                        <br>
                        <small class="text-muted">{{ a.get_special_description }}</small>
                    </td>
                    <td class="text-right">{{ a.get_balance }}</td>
                    <td class="text-right">
                        <a href="{% url 'association_site_credit_detail' slug=association.slug pk=a.pk %}">
                            Details
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}