{% extends 'accounts/associations_base.html' %}
{% load credit_tags %}

{% block tab_site_credits %} active{% endblock %}

{% block details %}
    <p>
        Account: <strong>{{ object }}</strong>
        ({% if object.association %}association{% elif object.user %}user{% else %}bookkeeping account{% endif %}).
        Balance: <strong>{{ object.get_balance|euro }}</strong>.
    </p>
    {# We only handle and show the form if we're on page 1 #}
    {% if page_obj.number == 1 %}
        <h3>Retrieve income/outcome flow</h3>
        <form method="get">
            {% include "snippets/bootstrap_form_one_line.html" with horizontal=True form=date_range_form submit_value='Retrieve' %}
        </form>

        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Income</th>
                    <th scope="col">Outcome</th>
                    <th scope="col">Netto</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ dining_balance.influx }}</td>
                    <td>{{ dining_balance.outflux }}</td>
                    <td>{{ dining_balance.nettoflux }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
    <h3>All transactions</h3>
    {% include 'credit_management/transaction_table.html' with object_list=page_obj.object_list account_self=object %}

    {% include 'snippets/paginator.html' %}
{% endblock %}