{% load credit_tags %}
{% load dining_tags %}
{% load humanize %}

<tr class="">
    <td class="">
        {{ transaction.order_moment|naturaltime }}
    </td>
    <td class="">
        {% if transaction.source_association == association %}
            To
        {% else %}
            From
        {% endif %}
    </td>
    <td class="">
        {% if transaction.source == association %}
            {{ transaction.target }}
        {% else %}
            {{ transaction.source }}
        {% endif %}
    </td>
    <td class="">
        {% if transaction.source_association == association %}
            <span class="text-danger">{{ transaction.amount|negate|euro }}</span>
        {% else %}
            <span class="text-success">+{{ transaction.amount|euro }}</span>
        {% endif %}
    </td>
    <td class="">
        {% if transaction.description %}{{ transaction.description }}{% else %}-{% endif %}
    </td>
    <td class="py-1">
        {% if transaction.type == 2 %}
            {% if transaction.source_association == association %}
                <a class="btn btn-outline-primary"
                        {% if transaction.target_user or transaction.target_association %}
                   href="{% url 'association_transaction' association_name=association.slug %}?redirect={{ request.path }}&id={{ transaction.id }}">
                        {% else %}
                            href="{% url 'credits:transaction_donate' %}?redirect={{ request.path }}&id={{ transaction.id }}">
                        {% endif %}
                <span class="fas fa-pen"></span>
                </a>
            {% endif %}
        {% elif transaction.type == 3 %}
            {% with transaction.id|get_dining_slot as slot %}
                <a class="btn btn-outline-primary"
                   href="{{ slot.get_absolute_url }}">
                    <span class="fas fa-search"></span>
                </a>
            {% endwith %}
        {% endif %}
    </td>
</tr>