{% load l10n %}
{% load humanize %}
<tr>
    <td>{{ entry.related_user.get_username }}</td>
    <td>{{ entry.related_user.get_full_name }}</td>
    <td>{{ entry.related_user.email }}</td>
    <td>
        {% if entry.is_verified %}
            Verified: {{ entry.verified_on|naturalday }}
        {% elif entry.verified_on %}
            Denied: {{ entry.verified_on|naturalday }}
        {% else %}
            Requested: {{ entry.created_on|naturalday }}
        {% endif %}
    </td>
    {# Verify button #}
    <td>
        {% if not entry.is_verified %}
            <button type="submit" name="validate-yes-{{ entry.id|unlocalize }}" class="btn btn-block btn-outline-success">
                {# Only icon because the button is not wide enough for text. #}
                <i class="fa fa-check-circle"></i>
            </button>
        {% endif %}
    </td>
    {# Deny button #}
    <td>
        {% if entry.is_verified or not entry.verified_on %}
            <button type="submit" name="validate-no-{{ entry.id|unlocalize }}" class="btn btn-block btn-outline-danger">
                <i class="fa fa-times-circle"></i>
            </button>
        {% endif %}
    </td>
</tr>
