
    <div class="col-12 row p-0 m-0">
        <div class="col-2 text-size-3">
            {{ entry.get_full_name }}
        </div>
        <div class="col-2 text-size-3">
            {{ entry.get_username }}
        </div>
        <div class="col-3 text-size-3">
            {{ entry.email }}
        </div>
        {# Todo: credit #}
        {% with entry.usercredit.get_current_credits as credit %}
            <div class="col-2 text-size-3">
                {{ credit }}
            </div>
            <div class="col-2 text-size-3">
                {% if credit < 0 %}
                    {% if entry.usercredit.negative_since %}
                        {{ entry.usercredit.negative_since }}
                    {% else %}
                        Recently
                    {% endif %}
                {% endif %}
            </div>
        {% endwith %}
    </div>