{% load humanize %}

<tr>
    <td>
        {{ entry.get_username }}
    </td>
    <td>
        {{ entry.get_full_name }}
    </td>
    <td>
        {{ entry.email }}
    </td>
    {% with entry.usercredit.balance as credit %}
        <td>
            {{ credit }}
        </td>
        <td>
            {% if credit < 0 %}
                {% if entry.usercredit.balance_fixed >= 0 %}
                    Currently pending
                {% else %}
                    {{ entry.usercredit.negative_since|naturalday }}
                {% endif %}
            {% endif %}
        </td>
    {% endwith %}
</tr>