{% extends 'accounts/user_history_base.html' %}
{% load dining_tags %}

{% block tab_claimed %}active{% endblock %}

{% block details %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Dish</th>
                <th scope="col">Association</th>
                <th scope="col"># Diners</th>
            </tr>
            </thead>

            <tbody>
            {% for entry in object_list %}
                <tr class="position-relative">
                    <td>
                        <a class="stretched-link" href="{{ entry.get_absolute_url }}">
                            {{ entry.date|date:"SHORT_DATE_FORMAT" }}
                        </a>
                    </td>
                    <td>
                        {{ entry.dish }}
                    </td>
                    <td>
                        {{ entry.association.slug }}
                    </td>
                    <td>
                        {{ entry.diners.count }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'snippets/paginator.html' %}
{% endblock %}