{% extends 'accounts/user_history_base.html' %}
{% load staticfiles %}

{% block title %}{{ request.user }} - Dining history {% endblock %}

{% block tab_claimed %} active{% endblock %}

{% block details %}
    <div class="row">
        <p class="col-12">
            Below all lists where you are either owner or purchaser
        </p>
    </div>
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-hover">
                {# Table header #}
                <thead>
                <tr class="">
                    <td class="">Date</td>
                    <td class="">Dish</td>
                    <td class="">Association</td>
                    <td class="">Purchaser</td>
                    <td class=""># Diners</td>
                    <td class=""># Paid</td>
                    <td class="">Link</td>
                </tr>
                </thead>

                <tbody>
                {# Table rows #}
                {% for entry in entries %}
                    <tr>
                        <td>
                            {{ entry.date }}
                        </td>
                        <td>
                            {{ entry.dish }}
                        </td>
                        <td>
                            {{ entry.association.slug }}
                        </td>
                        <td>
                            {{ entry.get_purchaser }}
                        </td>
                        <td>
                            {{ entry.diners.count }}
                        </td>
                        <td>
                            {% if entry.get_number_paid < entry.diners.count %}
                                <span class="text-warning">
                                    {{ entry.get_number_paid }}
                                </span>
                            {% else %}
                                {{ entry.get_number_paid }}
                            {% endif %}
                        </td>
                        <td class="py-2">
                            <a class="btn btn-outline-primary" href="{{ entry.get_absolute_url }}"><i class="fas fa-arrow-right"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% url 'history_lists' as url %}
        {% include 'snippets/snippet_pagination.html' %}
    </div>

{% endblock %}