{% extends 'accounts/user_history_base.html' %}

{% block tab_joined %} active{% endblock %}

{% block details %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Dish</th>
                <th scope="col">Association</th>
                <th scope="col">Help stats</th>
            </tr>
            </thead>

            <tbody>
            {% for entry in object_list %}
                <tr class="position-relative">
                    <td>
                        <a href="{{ entry.dining_list.get_absolute_url }}" class="stretched-link">
                            {{ entry.dining_list.date|date:"SHORT_DATE_FORMAT" }}
                        </a>
                    </td>
                    <td>
                        {{ entry.dining_list.dish }}
                    </td>
                    <td>
                        {{ entry.dining_list.association.slug }}
                    </td>
                    <td>
                        {% if entry.has_shopped %}Shop{% endif %}
                        {% if entry.has_cooked %}Cook{% endif %}
                        {% if entry.has_cleaned %}Clean{% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'snippets/paginator.html' %}
{% endblock %}