[flake8]
ignore =
    # Missing docstring
    D1
    # Missing blank line after last docstring section
    D413
    # Makes it possible to split long (boolean) equations on multiple lines
    W503
    #Imports
    I
extend-select =
    W504
exclude =
    .git,
    __pycache__,
    */migrations,
    venv
    .venv
max-complexity = 10
max-line-length = 127

docstring-convention = google
