# Python cache
*.pyc
__pycache__/

# IntelliJ
/.idea/
*.iml

# VSCode
.vscode/*

# Local data
*.sqlite3
/media/
/uploads/

# Local configs
/.env
/docker-compose.override.yml

# Virtualenv
/venv/

# Misc
Socrates/config.py
*/ignore/*

# coverage.py default artifact locations
/.coverage
#/htmlcov/  # coverage.py automatically .gitignores this folder
/coverage.xml
/coverage.json
/coverage.lcov
