Django<=5.0.0
django-widget-tweaks

# For Quadrivium login using OIDC
# TODO: update further
django-allauth<=0.54.0

django-autocomplete-light
environs[django]
whitenoise  # Used for static files in production.
Pillow  # Used by Django for media files?

# See https://fontawesome.com/docs/web/use-with/python-django
fontawesomefree
