{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ request.user }} - Transaction history {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-hover">
                {# Table header #}
                <thead>
                <tr>
                    <td>Date</td>
                    <td></td>
                    <td>Name</td>
                    <td>Amount</td>
                    <td>Description</td>
                </tr>
                </thead>
                <tbody>
                {# Table rows #}
                {% for transaction in transactions %}
                    {% include 'credit_management/snippet_credit_history_user.html' %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

        <br><br>

        {% url 'transaction_list' as url %}
        {% include 'snippets/snippet_pagination.html' %}
    </div>

{% endblock %}