{% load credit_tags %}
{% load humanize %}

<tr>
    <td>
        {{ transaction.order_moment|naturaltime }}
    </td>
    <td>
        {% if transaction.source_user == user %}
            To
        {% else %}
            From
        {% endif %}
    </td>
    <td>
        {% if transaction.source == user %}
            {{ transaction.target }}
        {% else %}
            {{ transaction.source }}
        {% endif %}
    </td>
    <td>
        {% if transaction.source_user == user %}
            <span class="text-danger">{{ transaction.amount|negate|euro }}</span>
        {% else %}
            <span class="text-success">+{{ transaction.amount|euro }}</span>
        {% endif %}
    </td>
    <td>
        {{ transaction.description }}
    </td>
</tr>