{% extends 'base.html' %}

{% block title %}Transaction history - {{ block.super }}{% endblock %}

{% block content %}
    <h2>Transaction history</h2>
    <p>
        <a href="{% url 'credits:transaction_add' %}" class="btn btn-primary">
            <i class="fas fa-plus"></i> Money transfer
        </a>
        <a href="{% url 'credits:transaction_csv' %}" class="btn btn-secondary">
            <i class="fas fa-file-export"></i> Download CSV
        </a>
    </p>
    {% include 'credit_management/transaction_table.html' with account_self=user.account %}

    {% include 'snippets/paginator.html' %}

{% endblock %}