{% load credit_tags %}
<div class="table-responsive">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Other party</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
            {% if not hide_created_by %}<th scope="col">Created by</th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for tx in object_list %}
            <tr>
                <td>{{ tx.moment }}</td>
                <td>
                    {% if tx.source == account_self %}
                        {{ tx.target }}
                    {% else %}
                        {{ tx.source }}
                    {% endif %}
                </td>
                <td>
                    {% if tx.source == account_self %}
                        <span class="text-danger">-{{ tx.amount|euro }}</span>
                    {% else %}
                        <span class="text-success">+{{ tx.amount|euro }}</span>
                    {% endif %}
                </td>
                <td>{{ tx.description }}</td>
                {% if not hide_created_by %}<td>{{ tx.created_by }}</td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
