{% extends 'base.html' %}

{% block content %}
    <p>
        <a href="{% url 'credits:transaction_list' %}">
            ← Back to transaction overview
        </a>
    </p>
    <h3>Transfer money</h3>
    <p>
        You can transfer money from your own balance to other users or an association.
        Your balance cannot become negative.
    </p>
    <div class="alert alert-warning">
        A money transfer can only be undone by the receiving party!
        Check the fields carefully before creating a new transaction.
    </div>
    <form method="post">
        {% csrf_token %}
        {% include "snippets/bootstrap_form.html" with horizontal=True %}
        <input type="submit" value="Create transaction" class="btn btn-block btn-primary"/>
    </form>
{% endblock %}