{% extends 'base.html' %}

{% block content %}
    <p>
        <a href="{% url 'credits:transaction_list' %}">
            ← Back to transaction overview
        </a>
    </p>
    <h3>Transfer money</h3>
    <p>
        You can transfer money from your own balance to other users or an association.
        Your balance cannot become negative.
        If you want to withdraw money from your account, search a board member of any association,
        transfer money using this page to that association and ask the board member to hand over or transfer the
        physical money amount from the association's cash box or bank account.
    </p>
    <div class="alert alert-warning">
        A money transfer can only be undone by the receiving party!
        Check the fields carefully before creating a new transaction.
        To undo a transfer, ask the receiving party to create a new opposite transaction.
    </div>
    <form method="post">
        {% csrf_token %}
        {% include "snippets/bootstrap_form.html" with horizontal=True %}
        <input type="submit" value="Create transaction" class="btn btn-block btn-primary"/>
    </form>
{% endblock %}