{% extends 'mail/base.html' %}
{% load dining_tags %}

{% block content %}
    <p>
        Hi {{ recipient.first_name }}
    </p>
    <p>
        We regret to inform you that the following dining list has been cancelled.
        {% if reason %}The reason provided was: "{{ reason }}".{% endif %}
    </p>
    <table>
        <tr><td>
            Date
        </td><td>
            {{dining_list.date}}
        </td></tr>
        <tr><td>
            Dish
        </td><td>
            {{dining_list.dish}}
        </td></tr>
        <tr><td>
            By
        </td><td>
            {{dining_list|short_owners_string}}
        </td></tr>
        <tr><td>
            Association
        </td><td>
            {{dining_list.association}}
        </td></tr>
    </table>
    <p>
        As you were subscribed to this dining list, you have been removed from the dining list and your money has been refunded.
        Maybe you can join or start another dining list. You can do so here:
    </p>
    <div>
        <a href="{{ site_uri }}{{ day_view_url }}"
           style="background-color: #375a7f;padding: 0.75em; border-radius: 0.25rem; color: white; text-decoration: none;">
            Go to day view
        </a>
    </div>
    <p>
        With kind regards,
    </p>
    <p style="padding-top: 1em;">
        The Scala Dining App
    </p>
{% endblock %}

{% block mail_footer %}
    The Scala Dining app will always inform you when you are removed from a dining list by others.<br>
    Don't want this? Give us feedback by responding to this e-mail.
{% endblock %}