{% extends 'mail/base.html' %}
{% load dining_tags %}

{% block content %}
    <p>
        Hi {{ user.first_name }}
    </p>
    <p>
        We regret to inform you that a dining list to which you were subscribed has been cancelled.
        The provided reason was: '{{ dining_list.cancelled_reason }}'.
        Your money has been refunded.
    </p>
    <table>
        <tr><td>
            Date
        </td><td>
            {{dining_list.date}}
        </td></tr>
        <tr><td>
            Dish
        </td><td>
            {{dining_list.dish}}
        </td></tr>
        <tr><td>
            By
        </td><td>
            {{dining_list.owners.all|join:", "}}
        </td></tr>
        <tr><td>
            Association
        </td><td>
            {{dining_list.association}}
        </td></tr>
    </table>
    <p>
        We are sorry for the inconvenience,
    </p>
    <p>
        With kind regards,
    </p>
    <p style="padding-top: 1em;">
        The Scala Dining App
    </p>
{% endblock %}

{% block mail_footer %}
    The Scala Dining app will always inform you when you are removed from a dining list by others.<br>
    Don't want this? Give us feedback by responding to this e-mail.
{% endblock %}
