{% extends 'accounts/associations_base.html' %}
{% load credit_tags %}

{% block tab_invoicing %}active{% endblock %}

{% block details %}
    <p>
        Diners in your association can deposit money in their account balance unconditionally.
        When they do this, the amount will be taken from the balance of your association!
        <em>Your association is responsible for collecting this money back from your members.</em>
        For Quadrivium this would be done using the Q-bill.
        The button below will show the people who need to be debited and the amounts.
    </p>
    <p>
    <a href="{% url 'invoicing-new-report' association_name=association.slug %}" class="btn btn-primary">
        View debtors and amounts
    </a></p>
    <h3 class="text-muted">Debits cleared in the past</h3>
    <p class="text-muted">This money has already been collected.</p>
    <table class="table table-sm text-muted">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Cleared by</th>
            <th scope="col">Total amount</th>
            <th scope="col">Download</th>
        </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                {# Time is omitted here for clarity #}
                <td>{{ report.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
                <td>{{ report.created_by }}</td>
                <td>{{ report.total_amount|euro }}</td>
                <td>
                    <a href="{% url 'invoicing-report-download' pk=report.pk %}">
                        Download report
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
