/* Some custom CSS helpers for Bootstrap */

/* Display heading, responsive around breakpoint sm */
.display-4-responsive {
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 576px) {
    /* Divider for cols */
    .border-sm-right {
        border-right: 4px solid #fff;
    }

    .display-4-responsive {
        font-size: 3.5rem;
    }
}

/* Fix for strange background behavior in Chrome */
body {
    background-color: #212121;
}

/* CSS corrections for Select2 */
.select2-container {
    color: #495057;
}
.select2-selection {
    background-color: #fff;
}
