{% extends "socialaccount/base.html" %}

{% block content %}
    <h1>Sign up</h1>

    {% with provider_name=account.get_provider.name %}
        <p>
            You are about to use your {{ provider_name }} account to login to Scala Dining. As a final step, please
            complete the following form:
        </p>
    {% endwith %}

    <form method="post" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
        {% include "snippets/bootstrap_form.html" with horizontal=True %}
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
{% endblock %}
