{% extends 'base.html' %}
{% load dining_tags %}

{% block content %}
    <p>
        Hi {{ user.first_name }}
    </p>
    <p>
        {% if guest %} Your guest {{guest}} recently dined on the following dining_list:
        {%else%}
            You recently added  a couple of guests to the following dining list:
        {%endif%}
    </p>
    <table>
        <tr><td>
            Date
        </td><td>
            {{dining_list.date}}
        </td></tr>
        <tr><td>
            Dish
        </td><td>
            {{dining_list.dish}}
        </td></tr>
        <tr><td>
            By
        </td><td>
            {{dining_list|short_owners_string}}
        </td></tr>
        <tr><td>
            Association
        </td><td>
            {{dining_list.association}}
        </td></tr>
    </table>
    <p>
        {% if is_reminder %}
            However, according to our administration,
            {% if guest %} {{ guest }} has not paid for the meal yet.{% else %}
                Some of them have not yet paid for the meal yet.
            {% endif %}
        {% endif %}
    </p>
    <p>
        {% if guest %}
            {{ reminder }} kindly ask you to contact {{ guest }} and ask him to pay for the meal.
        {% else %}
            {{ reminder }} kindly asks you to contact the following guests:
            <li>
            {% for guest in guests %}
                <ul>{{guest}}</ul>
            {%endfor%}
            </li>
        {%endif%}
    </p>
    {% if dining_list.payment_link %}
    <div>
            Paying can be done here:<br>
        {% with url=dining_list.get_absolute_url|to_full_url %}
        <a href="{{ url }}"
           style="">
            {{ url }}</a>
        {% endwith %}
    </div>
    {%endif%}
    <p>
        For more information check the dining list here:
        <a href="{{ dining_list.get_absolute_url|to_full_url }}"
           style="background-color: #375a7f;padding: 0.75em; border-radius: 0.25rem; color: white; text-decoration: none;">
            To dining list</a>
    </p>


    <p style="padding-top: 1em">
        Enjoy your day
    </p>

{% endblock %}