<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>

{% for email in outbox %}
    <hr id="msg{{ forloop.counter }}">
    <p>
        Message {{ forloop.counter }} of {{ outbox|length }}
        | <a href="#msg1">first</a>
        | <a href="#msg{{ outbox|length }}">last</a>
        {% if not forloop.first %}| <a href="#msg{{ forloop.counter|add:"-1" }}">previous</a>{% endif %}
        {% if not forloop.last %}| <a href="#msg{{ forloop.counter|add:"1" }}">next</a>{% endif %}
    </p>
    <hr>
    <pre>{{ email.message }}</pre>
{% empty %}
    <p>Outbox is empty</p>
{% endfor %}

</body>
</html>
