{% extends 'base_no_navbar.html' %}
{% load credit_tags %}

{% block body %}
<!-- Navbar navbar-right -->

    <nav class="navbar navbar-dark bg-primary">

            <div class="navbar-header">
                <a href="{% url 'index' %}" class="navbar-brand">
                    <img src="/static/images/Scala_dining.png" height="40"></img>
                    <span class="h3 d-none d-lg-inline" style="line-height: 40px; vertical-align: middle; margin: 0 0 0 10px"> Scala Dining</span>
                    <span class="h5 d-none d-md-inline d-lg-none" style="line-height: 40px; vertical-align: middle; margin: 0 0 0 10px"> Scala Dining</span>
                    <span class="text-warning" style="font-size: small"> beta</span>
                </a>
            </div>
            <ul class="nav-user navbar-nav navbar-right" style="flex-direction: row">
                <li class="navbar-text small text-right px-2 align-middle">
                    {{ user }}<br>
                    {{ user.usercredit.balance|euro }}
                </li>
                <li class="dropdown p-1">
                    <a class="nav-link dropdown-toggle px-2 h4"
                       style="position: relative;"
                        href="#" id="navbardrop" data-toggle="dropdown">
                        <i class="fas fa-user"
                            {% if user.requires_information %}
                                style="padding-right: 5px;">
                                <span class="badge badge-pill badge-warning"
                                    style="font-size: x-small; position: absolute; top: 10%; left: 40%;">!</span>
                            {% else %}
                                >
                            {% endif %}
                        </i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" style="position: absolute;">
                        <a class="dropdown-item justify-content-between d-flex" href="{% url 'history_lists' %}">
                            <span>History</span><i class="fas fa-history fa-fw"></i>
                        </a>
                        <a class="dropdown-item justify-content-between d-flex" href="{% url 'credits:transaction_list' %}">
                            <span>Transactions</span><i class="fas fa-euro-sign fa-fw"></i>
                        </a>
                        <a class="dropdown-item justify-content-between d-flex" href="{% url 'account_profile' %}">
                            <span>Profile</span><i class="fas fa-user fa-fw"></i>
                        </a>
                        {% if request.user.is_staff %}
                            <a class="dropdown-item justify-content-between d-flex" href="{% url 'admin:index' %}" target="_blank">
                                <span class="mr-2">Control panel</span><i class="fas fa-toolbox fa-fw"></i>
                            </a>
                        {% endif %}
                        {% if user.boards.count > 0 %}<hr>{% endif %}
                        {% for association in user.boards %}
                            <a class="dropdown-item justify-content-between d-flex"
                               href="{% url 'association_overview' association_name=association.slug %}">
                                <span href="#" class="header-dropdown-line-content">{{ association.slug }}
                                    {% if association.requires_action %}
                                        <span class="badge badge-pill badge-warning">!</span>
                                    {% endif %}
                                </span>

                                {% if association.image %}
                                    <i class="fas fa-fw">
                                        <img src="{{ association.image.url }}" style="width: 100%;">
                                    </i>
                                {% endif %}
                            </a>
                        {% endfor %}
                        <hr>
                        <a class="dropdown-item justify-content-between d-flex mb-4" href="{% url 'account_logout' %}">
                            <span class="header-dropdown-line-content">Log out</span><i class="fas fa-power-off fa-fw"></i>
                        </a>
                    </div>
                </li>
                <li class="dropdown p-1">
                    <a class="nav-link dropdown-toggle py-2 h4"
                       style="position: relative;"
                       href="#" id="navbardrop" data-toggle="dropdown">
                        <i class="fas fa-info"
                            {% if user.requires_information %}
                                style="padding-right: 10px;">
                                <span class="badge badge-pill badge-warning"
                                      style="font-size: x-small; position: absolute; top: 10%; left: 25%;">!</span>
                            {% else %}
                            >
                            {% endif %}
                        </i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" style="position: absolute;">
                        <a class="dropdown-item" href="{% url 'rules_and_regulations' %}">
                            Rules & Regulation
                            {% if user.requires_information_rules %}
                                <span class="badge badge-pill badge-warning">!</span>
                            {% endif %}
                        </a>
                        <a class="dropdown-item" href="{% url 'site_updates' %}">
                            News and Updates
                            {% if user.requires_information_updates %}
                                <span class="badge badge-pill badge-warning">!</span>
                            {% endif %}
                        </a>
                        <a class="dropdown-item" href="{% url 'site_bugreport' %}?source={{ request.get_full_path }}">Report Bug</a>
                    </div>
                </li>
            </ul>

    </nav>

    {% if True %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

<div class="container pt-2">
    <div class="row width-max-lg text-size-md-5">
        <div class="col-12">
            <!-- Content -->
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<!-- Debug info -->
{#<script>#}
{#    var sql_queries = {{ sql_queries|safe }};#}
{#    console.log(sql_queries);#}
{#</script>#}
{% endblock %}