{% load static %}<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.6.0/dist/darkly/bootstrap.min.css"
          integrity="sha256-CETRC0luEnm32Z1z91BT8xqiKfIzbspZ64YCq3T63xk=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% block head %}{% endblock %}
    <title>{% block title %}Scala Dining{% endblock %}</title>
    {# Favicon icons from RealFaviconGenerator.net #}
    {% include "icons.html" %}
    {# django-autocomplete-light needs jQuery loaded for its Select2 widget therefore I put jQuery in head #}
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
</head>
<body>
{% if SITE_NOTICE %}
    <div class="w-100 text-center p-1 bg-warning text-dark">{{ SITE_NOTICE }}</div>
    <div id="belowSiteNotice"></div>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById("belowSiteNotice").scrollIntoView();
        });
    </script>
{% endif %}
{% block body %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>
