{% extends 'dining_lists/dining_slot.html' %}

{% block details %}
    {% if BREADCRUMB_NAV %}
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'day_view' year=dining_list.date.year month=dining_list.date.month day=dining_list.date.day %}">
                        {{ dining_list.date|date:"SHORT_DATE_FORMAT" }}
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ dining_list.get_absolute_url }}">Dining list</a>
                </li>
                <li class="breadcrumb-item active">Edit</li>
            </ol>
        </nav>
    {% else %}
        <p>
            <a href="{{ dining_list.get_absolute_url }}">← Back to dining list</a>
        </p>
    {% endif %}
    <h3>Edit dining list</h3>
    <form method="post" id="infoForm">
        {% csrf_token %}
        {% include "snippets/bootstrap_form.html" with horizontal=True %}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url "slot_delete" pk=dining_list.pk %}" class="btn btn-warning float-right">
            <i class="fas fa-ban"></i> Cancel dining list
        </a>
    </form>

    {# Check if current user is owner, else show warning message #}
    <script>
        document.getElementById('infoForm').addEventListener('submit', function (event) {
            let selectedOptions = document.getElementById('id_info-owners').selectedOptions;
            for (let i = 0; i < selectedOptions.length; i++) {
                if (selectedOptions[i].value === '{{ user.pk }}') {
                    // Current user is owner
                    return;
                }
            }
            // Current user is not owner
            let result = window.confirm("You are not in the list of owners, which means you will " +
                "lose the rights to edit the dining list. Are you sure to continue saving?");
            if (!result) {
                // Prevent saving when 'cancel' was clicked
                event.preventDefault();
            }
        });
    </script>
{% endblock %}
