{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% load form_extras %}

{% block title %}Scala Dining {{ date }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/dining.css' %}">
{% endblock %}

{% block content %}
    <div class="col-12 row p-0 m-0">

        {% if previous_date %}
            <a href="{% url 'day_view' day=previous_date.day month=previous_date.month year=previous_date.year %}"
               class="col-2 btn btn-outline-primary">Back</a>
        {% else %}
            <a class="col-2"></a>
        {% endif %}

        <div class="text-center col-8 py-1 h5
            {% if is_today %} font-bold {% endif %}">
            <span class="align-middle">{{ date|date|capfirst }}</span>
        </div>

        {% if next_date %}
            <a href="{% url 'day_view' year=next_date.year month=next_date.month day=next_date.day %}"
               class="col-2 btn btn-outline-primary">Next</a>
        {% else %}
            <a class="col-2"></a>
        {% endif %}
    </div>

    {% if Announcements %}
        {% for Announcement in Announcements %}
            {% include 'snippets/snippet_dining_day_announcement' %}
        {% endfor %}

    {% endif %}

    <div class="col-12 row m-0 px-0 py-3">
        {% for slot in dining_lists %}
            
            <!--{% include 'dining_lists/snippet_diningslot.html' %}-->
            
            <div class="col-12 row mx-0 my-2 {% if interactive %}py-4 slot{% endif %}">
                <div class="col-2 slot_image"
                        {% if slot.association %}
                     style="background-image: url({{ slot.association.associationdetails.image.url }})"
                        {% endif %}>

                </div>
                <div class="col-8">
                    <div class="text-size-5">
                        {% if slot.claimed_by %}
                            {{ slot.claimed_by }}
                        {% else %}
                            Slot is unclaimed!
                        {% endif %}</div>
                    <div class="text-size-4">{{ slot.dish }}</div>
                    <br>
                    <div class="text-size-3">{{ slot.dining_entries.count }}/{{ slot.max_diners }} diners - Serve
                        time: {{ slot.serve_time }}</div>
                </div>

                {% if interactive %}
                    {% with slot|can_join_slot:request.user as can_join %}
                        {% if not slot.is_open and slot|is_on_slot:request.user %}
                            <div class="col-2 slot-signed"></div>
                        {% endif %}

                        {% url 'slot_details' day=date.day month=date.month year=date.year identifier=slot.association.associationdetails.shorthand as url %}
                        <a class="slot-back btn {% if slot|is_on_slot:request.user %} slot-back-active {% endif %}
                " href={{ url }}></a>
                        {% if can_join %}
                            {% url 'entry_add' day=date.day month=date.month year=date.year identifier=slot.association.associationdetails.shorthand as url %}
                            <form method="post" action="{{ url }}?next={{ request.path_info }}" class="col-2">
                                {% csrf_token %}
                                <button type="submit" class="btn-block btn btn-primary slot-signup"
                                        style="height: 100%;"></button>
                            </form>

                        {% elif slot|is_on_slot:request.user and slot.is_open %}
                            {% url 'entry_remove' day=date.day month=date.month year=date.year identifier=slot.association.associationdetails.shorthand as url %}
                            <form method="post" action="{{ url }}?next={{ request.path_info }}" class="col-2">
                                {% csrf_token %}
                                <button type="submit" class="btn-block btn btn-primary slot-unlist" style="height: 100%;"></button>
                            </form>
                        {% endif %}
                    {% endwith %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% if can_create_slot %}
        <a href="{% url 'new_slot' year=date.year month=date.month day=date.day %}"
           class="col-12 btn btn-block btn-primary">Create and claim a new slot</a>
    {% endif %}


{% endblock %}