{% extends 'dining_lists/dining_slot.html' %}
{% load dining_tags %}
{% load credit_tags %}
{% load humanize %}

{% block tab_info %}active{% endblock %}

{% block details %}
    <p>
        <a href="{% url 'day_view' day=dining_list.date.day month=dining_list.date.month year=dining_list.date.year %}">
            ← Back to overview
        </a>
    </p>
    {% if dining_list|is_owner:user and dining_list.is_adjustable %}
        <a class="btn btn-primary mb-3" href="{% url 'slot_change' pk=dining_list.pk %}">
            <i class="fas fa-edit"></i> Edit
        </a>
        <a class="btn btn-secondary mb-3" href="{% url 'groceries:payment-create' pk=dining_list.pk %}">
            <i class="fas fa-receipt"></i> Create groceries payment
        </a>
    {% endif %}
    {% if dining_list.is_cancelled %}
        <div class="alert alert-warning">
            This dining list is cancelled. The provided reason was: '{{ dining_list.cancelled_reason }}'.
        </div>
    {% endif %}
    <div class="row mb-3">
        <div class="col-md-2">
            <strong>
                <i class="fas fa-user fa-fw"></i> Cook{{ dining_list.owners.count|pluralize }}
            </strong>
        </div>
        <div class="col-md-10">{{ dining_list.owners.all|join:", " }}<br><small>{{ dining_list.association }}</small></div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2"><strong><i class="fas fa-clock fa-fw"></i> Dinner time</strong></div>
        <div class="col-md-10">{{ dining_list.date|naturalday|capfirst }} {{ dining_list.serve_time }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2"><strong><i class="fas fa-utensils fa-fw"></i> Dish</strong></div>
        <div class="col-md-10">{{ dining_list.dish }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2"><strong>{# <i class="fas fa-euro-sign fa-fw"></i> #} Kitchen cost</strong></div>
        <div class="col-md-10">{{ dining_list.kitchen_cost|euro }}<br><small>Automatically subtracted</small>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2"><strong><i class="fas fa-users fa-fw"></i> Diners</strong></div>
        <div class="col-md-10">
            {{ dining_list.entries.count }}<br>
            <small>Maximum: {{ dining_list.max_diners }}</small>
        </div>
    </div>


    {# Current user status #}
    {% if user_entry %}
        <div class="card border-success mb-3">
            <div class="card-body">
                <h5 class="card-title">You are on the list</h5>

                {% with entry=dining_list|get_entry:user %}
                    {% if entry|can_delete_entry:user %}
                        <form method="post" action="{% url 'entry_delete' pk=entry.pk %}"
                              style="display: inline-block;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Sign out</button>
                        </form>
                    {% endif %}
                {% endwith %}
                {% if dining_list|can_add_others:user %}
                    <a href="{% url 'entry_add' pk=dining_list.pk %}"
                       class="btn btn-secondary">Add someone else</a>
                {% endif %}

            </div>
        </div>
    {% else %}
        <div class="card border-warning mb-3">
            <div class="card-body">
                <h5 class="card-title">You are not on the dining list</h5>
                {% if dining_list|can_join:user %}
                    {% if dining_list.sign_up_deadline %}
                        <p class="card-text">Sign up
                            before {{ dining_list.sign_up_deadline|naturalday }} {{ dining_list.sign_up_deadline|date:"TIME_FORMAT" }}</p>
                    {% endif %}

                    <form method="post"
                          action="{% url 'entry_add' pk=dining_list.pk %}"
                          style="display: inline-block;">
                        {% csrf_token %}
                        <input type="hidden" name="user" value="{{ user.pk }}">
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </form>
                {% else %}
                    <p class="card-text">{{ dining_list|cant_join_reason:user }}</p>
                {% endif %}
                {% if dining_list|can_add_others:user %}
                    <a href="{% url 'entry_add' pk=dining_list.pk %}"
                       class="btn btn-secondary">Add someone else</a>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <hr>

    {# List of comments #}
    {% for comment in comments %}
        {% include 'snippets/snippet_comments.html' %}
    {% endfor %}

    {# New comment form #}
    <form method="post" action="{% url 'slot_details' pk=dining_list.pk %}">
        {% if form.errors %}
            <div class="alert alert-dismissable alert-warning mb-1">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {% for key, value in form.errors.items %}
                    {{ value.as_text }}
                {% endfor %}
            </div>
        {% endif %}
        <textarea name="message" class="form-control" placeholder="Leave a remark"></textarea>
        <button type="submit" class="btn btn-block btn-primary mt-1">Post</button>
        {% csrf_token %}
    </form>

{% endblock details %}