{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Scala Dining {{ date }} {% endblock %}

{% block content %}
    <div class="col-12 row p-0 m-0">
        {% if prev_link %}
            <a href="{{ prev_link }}" class="col-2 btn btn-block btn-blank">&#x25C0;</a>
        {% else %}
            <a class="col-2 btn btn-block btn-blank btn-disabled">&#x25C0;</a>
        {% endif %}

        {% if is_today %}
            <div class="text-center col-8 ">
            <b>{{ datename }}</b>
        {% else %}
            <div class="text-center col-8">
            {{ datename }}
        {% endif %}
            </div>

        {% if next_link %}
            <a href="{{ next_link }}" class="col-2 btn btn-block btn-blank">&#x25B6;</a>
        {% else %}
            <a class="col-2 btn btn-block btn-disabled btn-blank">&#x25B6;</a>
        {% endif %}
    </div>

    {% if message %}
    <div class="col-12 text-center pt-2">
        {{ message }}
    </div>
    {% endif %}
    {% if Announcements %}
        {% for Announcement in Announcements %}
            {% include 'snippets/snippet_dining_day_announcement' %}
        {% endfor %}

    {% endif %}

    <div class="col-12 row m-0 px-0 py-3">
        {% for slot in dining_lists %}
            {% include 'dining_lists/snippet_diningslot.html' %}
        {% endfor %}
    </div>
    {% if can_create_slot %}
        <a href="{{ add_link }}" class="col-12 btn btn-block btn-primary">Create and claim a new slot</a>
    {% endif %}


{% endblock %}