{% extends 'dining_lists/dining_slot.html' %}

{% load dining_tags %}

{% block tab_list %}active{% endblock %}

{% block details %}
    {% if BREADCRUMB_NAV %}
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'day_view' year=dining_list.date.year month=dining_list.date.month day=dining_list.date.day %}">
                        {{ dining_list.date|date:"SHORT_DATE_FORMAT" }}
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ dining_list.get_absolute_url }}">Dining list</a>
                </li>
                <li class="breadcrumb-item active">Diners</li>
            </ol>
        </nav>
    {% endif %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Help stats</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            {% for entry in entries %}
                <tr>
                    <td>
                        <div class="d-flex justify-content-between align-items-center">
                            <span>
                                {{ entry.get_name }}
                                {% if entry.is_external %}
                                    <small class="font-italic">added by {{ entry.created_by }}</small>
                                {% endif %}
                            </span>
                            {% if entry.is_internal %}
                                <span>
                                    {% for membership in entry.user.get_verified_memberships %}
                                        {% if membership.association.icon_image %}
                                            <i class="membership_icon">
                                                <img src="{{ membership.association.icon_image.url }}"
                                                     alt="{{ membership.association.slug }}">
                                            </i>
                                        {% else %}
                                            <i>{{ membership.association.slug|slice:":1" }}</i>
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        {# Note: before external entries didn't have work stats, but it's actually not an issue to include them #}
                        <form method="post"
                              action="{% url 'slot_list' pk=dining_list.pk %}"
                              class="d-inline-block">
                            {% csrf_token %}
                            <input type="hidden" name="entry_id" value="{{ entry.pk }}">
                            <div class="btn-group">
                                <button type="submit" name="action" {% if not can_edit_stats %}disabled{% endif %}
                                        value="shopped_{% if entry.has_shopped %}false{% else %}true{% endif %}"
                                        class="btn btn-sm {% if entry.has_shopped %}btn-primary{% else %}btn-outline-primary{% endif %}">
                                    Shop
                                </button>
                                <button type="submit" name="action" {% if not can_edit_stats %}disabled{% endif %}
                                        value="cooked_{% if entry.has_cooked %}false{% else %}true{% endif %}"
                                        class="btn btn-sm {% if entry.has_cooked %}btn-primary{% else %}btn-outline-primary{% endif %}">
                                    Cook
                                </button>
                                <button type="submit" name="action" {% if not can_edit_stats %}disabled{% endif %}
                                        value="cleaned_{% if entry.has_cleaned %}false{% else %}true{% endif %}"
                                        class="btn btn-sm {% if entry.has_cleaned %}btn-primary{% else %}btn-outline-primary{% endif %}">
                                    Clean
                                </button>
                            </div>
                        </form>
                    </td>
                    <td>
                        {# Contact info is only visible to those that are signed up (show_contact_info) #}
                        {% if show_contact_info and entry.is_internal %}
                            {% if entry.user.phone_number or entry.user.email_public %}
                                <button type="button" class="btn btn-secondary btn-sm btn-block" data-toggle="popover"
                                        data-html="true"
                                        {# Please look away #}
                                        data-content="{% if entry.user.email_public %}<p class='mb-0'>E-mail address:
                                        <a href='mailto:{{ entry.user.email }}'>{{ entry.user.email }}</a>
                                        </p>{% endif %}{% if entry.user.phone_number %}<p class='mb-0'>Phone
                                        number: <a href='tel:{{ entry.user.phone_number }}'
                                        >{{ entry.user.phone_number }}</a></p>{% endif %}">
                                    <i class="fas fa-address-card"></i>
                                    <span class="sr-only">Contact info</span>
                                </button>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if entry|can_delete_entry:user %}
                            <form method="post"
                                  action="{% url "entry_delete" pk=entry.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger btn-block">
                                    <i class="fas fa-trash"></i>
                                    <span class="sr-only">Delete entry</span>
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
{% endblock details %}
