{% extends 'dining_lists/dining_slot.html' %}

{% block details %}
    <form method="post" id="infoForm">
        {% csrf_token %}
        {# Display the info form #}
        <h1>General info</h1>
        {% include "snippets/bootstrap_form.html" with form=info_form horizontal=True %}

        <h1>Cost and payment</h1>
        {% include "snippets/bootstrap_form.html" with form=payment_form horizontal=True %}

        {# The save and cancel buttons #}
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-block btn-primary">Save</button>
            </div>
            <div class="col">
                <a href="{{ dining_list.get_absolute_url }}" class="btn btn-block btn-secondary">Cancel</a>
            </div>
        </div>
    </form>

    {# Check if current user is owner, else show warning message #}
    <script>
        document.getElementById('infoForm').addEventListener('submit', function (event) {
            let selectedOptions = document.getElementById('id_info-owners').selectedOptions;
            for (let i = 0; i < selectedOptions.length; i++) {
                if (selectedOptions[i].value === '{{ user.pk }}') {
                    // Current user is owner
                    return;
                }
            }
            // Current user is not owner
            let result = window.confirm("You are not in the list of owners, which means you will " +
                "lose the rights to edit the dining list. Are you sure to continue saving?");
            if (!result) {
                // Prevent saving when 'cancel' was clicked
                event.preventDefault();
            }
        });
    </script>
{% endblock %}
