{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Scala Dining {{ date }} {% endblock %}

{% block content %}
    <div class="col-12 row p-0 m-0 pt-4 pb-5 mb-5">
        {% block details%}
            Contents
        {% endblock details %}
    </div>

    {% block slot_navigation %}
        <div class="fixed-bottom bg-light">
            <div class="container text-center ">
                <div class="h5 ">
                    {{ dining_list.association }} - {{ dining_list.date }}
                </div>
                <div class="row">
                    <div class="col-4 d-flex px-1">
                        <a class="col-12 dining-nav h4 py-2 mb-0
                            {% if tab == "info" %}
                                btn-info"
                            {% else %}
                                text-white bg-primary btn btn-lg"
                                href="{% url 'slot_details' day=date.day month=date.month year=date.year identifier=dining_list.association.associationdetails.shorthand %}"
                            {% endif %}>
                            <i class="fas fa-info"></i>
                            <span class="d-none d-md-inline">Info</span>

                            <div class="offset-6 col-6">
                                {% if comments_unread > 0 %}<span class="text-warning font-bold">{{ comments_unread }}</span>  {% endif %}
                            </div>
                        </a>
                    </div>
                    <div class="col-4 d-flex px-1">
                        <a class="col-12 dining-nav h4 py-2 mb-0
                            {% if tab == "list" %}
                                btn-info"
                            {% else %}
                                text-white bg-primary btn btn-lg"
                                href="{% url 'slot_list' day=date.day month=date.month year=date.year identifier=dining_list.association.associationdetails.shorthand %}"
                            {% endif %}>
                            <i class="fas fa-list-ul"></i>
                            <span class="d-none d-md-inline">Entries</span>
                        </a>
                    </div>
                    <div class="col-4 d-flex px-1">
                        <a class="col-12 dining-nav h4 py-2 mb-0
                            {% if tab == "allergy" %}
                                btn-info"
                            {% else %}
                                text-white bg-primary btn btn-lg "
                                href="{% url 'slot_allergy' day=date.day month=date.month year=date.year identifier=dining_list.association.associationdetails.shorthand %}"
                            {% endif %}>
                            <i class="fas fa-skull-crossbones"></i>
                            <span class="d-none d-md-inline">Allergies</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    {% endblock slot_navigation %}
{% endblock %}
