{% extends 'base.html' %}

{% block title %}Scala Dining {{ date }}{% endblock %}

{% block content %}
    <div class="col-12 row p-0 m-0">
        <div class="offset-2 text-center col-8 ">
            {# To specify the date format, see https://docs.djangoproject.com/en/2.1/ref/settings/#date-format #}
            {{ date }}
        </div>
    </div>

    <div>
        <h3>Create new dining list</h3>
        <div class="alert alert-info">
            <span class="badge badge-secondary">new</span>
            After creation you can add other cooks who can also manage the dining list.
            See the dining list settings page!
        </div>
        <form method="post">
            {% csrf_token %}
            {% include "snippets/bootstrap_form.html" with form=slot_form horizontal=True %}
            <input type="submit" value="Create dining slot" class="btn btn-block btn-primary"/>
        </form>
    </div>
{% endblock %}