{% extends 'dining_lists/dining_slot.html' %}

{% block tab_allergy %}active{% endblock %}

{% block details %}
    <ul class="list-group">
        {% for entry in allergy_entries %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4 col-lg-3 text-muted"><i class="fas fa-user-circle"></i> {{ entry.user }}</div>
                    <div class="col-md-8 col-lg-9">{{ entry.user.allergies }}</div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock details %}
