{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Scala Dining {{ date }} {% endblock %}

{% block content %}
    <div class="col-12 row p-0 m-0 pt-4 pb-5 mb-5">
        {% block details%}
            Contents
        {% endblock details %}
    </div>

    {% block slot_navigation %}
        <div class="fixed-bottom slot-nav">
            <div class="width-max-md m-auto">
                <div class="text-size-4 text-center slot-nav-title">
                    {{ dining_list.association }} - {{ dining_list.date }}
                </div>
                <div class="row">
                    <a class="col-4 slot-nav-info
                        {% if tab == "info" %}
                            active"
                        {% else %}"
                            href="{% url 'slot_details' day=date.day month=date.month year=date.year identifier=dining_list.association.associationdetails.shorthand %}"
                        {% endif %}>
                        <div class="offset-6 col-6">
                            {% if comments_unread > 0 %}<span class="text-warning font-bold">{{ comments_unread }}</span>  {% endif %}
                        </div>
                    </a>
                    <a class="col-4 slot-nav-list
                        {% if tab == "list" %}
                            active"
                        {% else %}"
                            href="{% url 'slot_list' day=date.day month=date.month year=date.year identifier=dining_list.association.associationdetails.shorthand %}"
                        {% endif %}>
                    </a>
                    <a class="col-4 slot-nav-allergy
                        {% if tab == "allergy" %}
                            active"
                        {% else %}"
                            href="{% url 'slot_allergy' day=date.day month=date.month year=date.year identifier=dining_list.association.associationdetails.shorthand %}"
                        {% endif %}>

                    </a>
                </div>
            </div>
        </div>

    {% endblock slot_navigation %}
{% endblock %}


{% block header %}

{% endblock header %}