{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}Scala Dining {{ date }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/dining_v2.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        {# Button toolbar #}
        <div class="col-md-4">
            <div class="row">
                <div class="col-5">
                    <a href="{% url 'day_view' day=date.today.day month=date.today.month year=date.today.year %}"
                       class="btn btn-block btn-outline-primary">
                        Today
                    </a>
                </div>
                <div class="col-7">
                    <div class="btn-group btn-block">
                        <a href="{% url 'day_view' day=previous_date.day month=previous_date.month year=previous_date.year %}"
                           class="btn btn-outline-primary">
                            <i class="fas fa-chevron-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a href="{% url 'day_view' year=next_date.year month=next_date.month day=next_date.day %}"
                           class="btn btn-outline-primary">
                            <i class="fas fa-chevron-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {# Date display (vertically+horizontally centered) #}
        <div class="col-md-4 mt-3 mt-md-0 d-flex flex-column justify-content-center align-items-center">
            <h4 class="my-0 {% if date.today == date %}font-weight-bold{% endif %}">
                {{ date|date|capfirst }}
            </h4>
        </div>
    </div>

    {# In the future warning #}
    {% if date_diff >= 7 %}
        <div class="text-center">
            <small class="text-warning">
                <i class="fas fa-exclamation-triangle"></i> This date is more than a week in the future
            </small>
        </div>
    {% endif %}

    {% if Announcements %}
        {% for Announcement in Announcements %}
            {% include 'dining_lists/snippet_dining_day_announcement.html' %}
        {% endfor %}

    {% endif %}

    <div class="col-12 row m-0 px-0 py-3">
        {% for slot in dining_lists %}
            {% include 'dining_lists/snippet_diningslot.html' %}
        {% endfor %}
    </div>
    {% if can_create_slot %}
        <a href="{% url 'new_slot' year=date.year month=date.month day=date.day %}"
           class="col-12 btn btn-block btn-primary">Create and claim a new slot</a>
    {% endif %}


{% endblock %}