{% extends 'dining_lists/dining_slot.html' %}
{% load dining_tags %}

{% block tab_info %}active{% endblock %}

{% block details %}
    <p>
        <a href="{% url 'day_view' day=dining_list.date.day month=dining_list.date.month year=dining_list.date.year %}">
            ← Back to day
        </a>
    </p>

    <div class="row">
        {# Primary information #}
        <div class="col-md-10">
            {# Dish #}
            <h3>{{ dining_list.dish }}</h3>
            {# Owners #}
            <div class="row">
                <div class="col-3">Owners:</div>
                <div class="col-9">
                    {% if not dining_list.owners.exists %}
                        There are no owners
                    {% else %}
                        {{ dining_list.owners.all|join:", " }}
                    {% endif %}
                </div>
            </div>

            {# Association #}
            <div class="row">
                <div class="col-3">Association:</div>
                <div class="col-9">{{ dining_list.association }}</div>
            </div>

            {# Serve time #}
            <div class="row mt-3">
                <div class="col-3">Served at:</div>
                <div class="col-9">
                    {{ dining_list.date|date:"l j F Y" }}<br>
                    <span class="h5">{{ dining_list.serve_time|date:"H:i" }}</span>
                </div>
            </div>

            {# Dining cost #}
            {% if dining_list.dining_cost %}
                <div class="row mt-3">
                    <div class="col-3">
                        Meal cost:
                    </div>
                    <div class="col-9">
                        &euro; {{ dining_list.dining_cost }}
                        {% if dining_list.payment_link %}
                            <br><a href="{{ dining_list.payment_link }}">{{ dining_list.payment_link }}</a>
                        {% else %}
                            <br><span>Pay at one of the dining list owners</span>
                        {% endif %}
                    </div>
                </div>
            {% elif dining_list.payment_link %}
                <div class="row mt-3">
                    <div class="col-3">
                        Meal payment:
                    </div>
                    <div class="col-9">
                        <a href="{{ dining_list.payment_link }}">{{ dining_list.payment_link }}</a>
                    </div>
                </div>
            {% endif %}
        </div>

        {# Association image #}
        <div class="col-md-2 d-none d-md-flex">
            {# (Image is in separate div so that it is inside of the column padding) #}
            {% if dining_list.association.image %}
                <!-- This has been dropped on request of the board
                <div class="slot_image w-100" style="background-image: url({{ dining_list.association.image.url }});">
                </div>
                -->
            {% endif %}
        </div>
    </div>

    {% if dining_list|is_owner:user %}
        <a class="btn btn-primary mt-3"
           href="{% url 'slot_change' day=date.day month=date.month year=date.year identifier=dining_list.association.slug %}">
            <i class="fas fa-edit"></i> Change information
        </a>
    {% endif %}

    <hr>

    {# Current user status #}
    {% if dining_list|has_joined:user %}
        <div class="alert alert-success">You are on this list</div>
    {% elif dining_list|can_join:user %}
        <div class="alert alert-warning">You are not on the dining list</div>
    {% else %}
        <div class="alert alert-danger">
            You are not on this list and can't join: {{ dining_list|cant_join_reason:user }}
        </div>
    {% endif %}

    {# Join/leave/add others buttons #}
    <div class="row mt-3">
        {# Join/leave #}
        <div class="col-md-6">
            {% with entry=dining_list|get_entry:user %}
                {% if entry %}
                    {% if entry|can_delete_entry:user %}
                        <form method="post" action="{% url 'entry_delete' pk=entry.pk %}?next={{ request.path_info }}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-block btn-outline-warning">Sign out</button>
                        </form>
                    {% endif %}
                {% elif dining_list|can_join:user %}
                    {% url 'entry_add' day=date.day month=date.month year=date.year identifier=dining_list.association.slug as url %}
                    <form method="post" action="{{ url }}?next={{ request.path_info }}">
                        {% csrf_token %}
                        <input type="hidden" name="user" value="{{ user.pk }}">
                        <button type="submit" class="btn btn-block btn-primary">Sign up</button>
                    </form>
                {% endif %}
            {% endwith %}
        </div>
        {# Add others #}
        <div class="col-md-6">
            {% if dining_list|can_add_others:user %}
                {% url 'entry_add' day=date.day month=date.month year=date.year identifier=dining_list.association.slug as url %}
                <a href="{{ url }}" class="btn btn-outline-primary btn-block mt-1 mt-md-0">Add others</a>
            {% endif %}
        </div>
    </div>

    <hr>

    {# Extra container to have the same outlining as above using col-md-10 #}
    <div class="row">
        <div class="col-md-10">

            {# Sign up deadline #}
            <div class="row">
                {% if dining_list.is_open %}
                    <div class="col-3">
                        Open till:
                    </div>
                    <div class="col-9">
                        <span class="h5">
                            {% if dining_list.sign_up_deadline.date == dining_list.date %}
                                {{ dining_list.sign_up_deadline |date:"H:i" }}
                            {% else %}
                                {{ dining_list.sign_up_deadline |date:"l H:i" }}
                            {% endif %}
                        </span>
                    </div>
                {% elif dining_list.is_adjustable %}
                    <div class="col-9 offset-3">
                        Dining list is closed, contact one of the owners if you want to join
                    </div>
                {% endif %}
            </div>

            {# Number of diners #}
            <div class="row mt-3">
                <div class="col-3">Diners:</div>
                <div class="col-3">
                    <span class="h5">{{ dining_list.dining_entries.count }}</span> / {{ dining_list.max_diners }}
                </div>
                <div class="col-6">
                    {% if number_of_allergies > 0 %}
                        {{ number_of_allergies }} {{ number_of_allergies|pluralize:"has an allergy,have allergies" }}
                    {% endif %}
                </div>
            </div>

            {# Kitchen cost #}
            <div class="row mt-3">
                <div class="col-3">Kitchen cost</div>
                <div class="col-9">
                    € {{ dining_list.kitchen_cost }} <span class="small">(automatically subtracted)</span>
                </div>
            </div>
        </div>
    </div>

    <hr>

    {# List of comments #}
    {% for comment in comments %}
        {% include 'snippets/snippet_comments.html' %}
    {% endfor %}
    <form method="post"
          action="{% url 'slot_details' day=date.day month=date.month year=date.year identifier=dining_list.association.slug %}">
        {% csrf_token %}
        {% include 'snippets/bootstrap_form.html' with hide_asterisk=True %}
        <button type="submit" class="btn btn-primary">Post comment</button>
    </form>
{% endblock details %}
