{% extends 'base.html' %}

{% block title %}{{ block.super }} {{ date|date:"SHORT_DATE_FORMAT" }}{% endblock %}

{% block content %}
    <p>
        <a href="{% url 'day_view' day=date.day month=date.month year=date.year %}">
            ← Back to day view
        </a>
    </p>
    {#    <div class="text-center">#}
    {#        <h4>{{ date|date:DOW_DATE_FORMAT }}</h4>#}
    {#    </div>#}
    <h3>New dining list</h3>
    <form method="post" action="{% url 'new_slot' year=date.year month=date.month day=date.day %}">
        {% csrf_token %}
        <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" id="date"
                       value="{{ date|date:"SHORT_DATE_FORMAT" }}">
            </div>
        </div>
        {% include "snippets/bootstrap_form.html" with form=slot_form horizontal=True %}
        <input type="submit" value="Create dining list" class="btn btn-primary"/>
    </form>
{% endblock %}
