{% extends 'dining_lists/dining_slot.html' %}
{% load staticfiles %}
{% load form_extras %}



{% block details %}
    <form method="post" class="col-12">
        {% csrf_token %}
        {# Display the info form #}
        {% if info_form %}
            <h1>General info</h1>
            {% include "snippets/bootstrap_form.html" with form=info_form %}
        {% endif %}

        {# Display the payment form #}
        {% if payment_form %}
            <h1>Cost and payment</h1>
            {% include "snippets/bootstrap_form.html" with form=payment_form %}
        {% else %}
            {# Display information that the payment form is absent because it is enabled for someone else #}
            <h3>Cost and payment</h3>
            <div class="col-12">
                Control given to the purchaser: {{ dining_list.get_purchaser }}
            </div>
        {% endif %}
        <br><br>

        {# The save and cancell button #}
        <div class="btn-group col-12 p-0" role="group" aria-label="Basic example">
            <a href="{% url 'slot_details'
                    day=date.day month=date.month year=date.year
                    identifier=dining_list.association.associationdetails.shorthand %}"
               type="button" class="btn btn-secondary col-5">Cancel</a>
            <input type="submit" value="Save" class="col-7 btn btn-primary"/>
        </div>


{% endblock %}