{% extends 'dining_lists/dining_slot.html' %}
{% load staticfiles %}

{% block tab_allergy %}active{% endblock %}

{% block details%}
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-hover">
                {# Table header #}
                <thead>
                <tr class="">
                    <td style="min-width: 10rem">Name</td>
                    <td style="min-width: 15rem">Allergy</td>
                </tr>
                </thead>

                <tbody>
                {# Table rows #}
                {% for entry in allergy_entries %}
                <tr>
                    <td>
                        {{ entry.user }}
                    </td>
                    <td>
                        {{ entry.user.userdiningsettings.allergies }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock details %}