{% extends 'dining_lists/dining_slot.html' %}

{% load dining_tags %}

{% block tab_list %}active{% endblock %}

{% block details %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Help stats</th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            {% for entry in entries %}
                <tr>
                    <td>
                        <div class="d-flex justify-content-between align-items-center">
                            <span>
                                {{ entry.get_name }}
                                {% if entry.is_external %}
                                    <small class="font-italic">added by {{ entry.created_by }}</small>
                                {% endif %}
                            </span>
                            {% if entry.is_internal %}
                                <span>
                                    {% for membership in entry.user.get_verified_memberships %}
                                        {% if membership.association.icon_image %}
                                            <i class="membership_icon">
                                                <img src="{{ membership.association.icon_image.url }}"
                                                     alt="{{ membership.association.slug }}">
                                            </i>
                                        {% else %}
                                            <i>{{ membership.association.slug|slice:":1" }}</i>
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        {# Note: before external entries didn't have work stats, but it's actually not an issue to include them #}
                        <form method="post"
                              action="{% url 'slot_list' pk=dining_list.pk %}"
                              class="d-inline-block">
                            {% csrf_token %}
                            <input type="hidden" name="entry_id" value="{{ entry.id }}">
                            <div class="btn-group">
                                <button type="submit"
                                        name="action"
                                        value="shopped_{% if entry.has_shopped %}false{% else %}true{% endif %}"
                                        {% if not can_edit_stats %}disabled{% endif %}
                                        class="btn btn-sm {% if entry.has_shopped %}btn-primary{% else %}btn-outline-primary{% endif %}">
                                    Shop
                                </button>
                                <button type="submit"
                                        name="action"
                                        value="cooked_{% if entry.has_cooked %}false{% else %}true{% endif %}"
                                        {% if not can_edit_stats %}disabled{% endif %}
                                        class="btn btn-sm {% if entry.has_cooked %}btn-primary{% else %}btn-outline-primary{% endif %}">
                                    Cook
                                </button>
                                <button type="submit"
                                        name="action"
                                        value="cleaned_{% if entry.has_cleaned %}false{% else %}true{% endif %}"
                                        {% if not can_edit_stats %}disabled{% endif %}
                                        class="btn btn-sm {% if entry.has_cleaned %}btn-primary{% else %}btn-outline-primary{% endif %}">
                                    Clean
                                </button>
                            </div>
                        </form>
                    </td>
                    <td>
                        {% if entry|can_delete_entry:user %}
                            <form method="post"
                                  action="{% url "entry_delete" pk=entry.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger btn-block">
                                    <i class="fas fa-trash"></i>
                                    <span class="sr-only">Delete entry</span>
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock details %}
