{% extends 'dining_lists/dining_slot.html' %}
{% load staticfiles %}



{% block details%}
    <div class="row col-12 m-0 p-0 p-md-2 py-2">
        <div class="col-12">
            <div class="row pr-2">
                <div class="col-12 col-md-6 p-0 show-md"><b>Name</b></div>
                <div class="col-12 col-md-6 pr-3">
                    <b>Allergy</b>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-12 m-0 p-0 p-md-2 py-2">
        {% for entry in allergy_entries %}
            <hr class="col-12 m-0">
            <div class="col-12 my-2">
                <div class="row pr-2">
                    <div class="col-12 col-md-6 p-0">
                        {{ entry.user }}
                    </div>

                    <div class="col-12 col-md-6 pr-3">
                        <div class="row dining-help-row">
                            <div class="col-6">
                                {{ entry.user.userdiningsettings.allergies }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock details %}