{% extends 'dining_lists/dining_slot.html' %}

{% block details %}
    <p>
        <a href="{% url "slot_change" year=date.year month=date.month day=date.day identifier=dining_list.association.slug %}">
            ← Back to edit
        </a>
    </p>
    <p>
        Are you sure you want to delete the dining list on <strong>{{ dining_list.date }}</strong> for the
        association <strong>{{ dining_list.association }}</strong>? All
        <strong>{{ dining_list.dining_entries.count }}</strong> currently subscribed diners will have the
        kitchen costs refunded.
    </p>
    <form method="post"
          action="{% url 'slot_delete' year=date.year month=date.month day=date.day identifier=dining_list.association.slug %}">
        {% csrf_token %}
        {% include "snippets/bootstrap_form.html" with horizontal=True %}
        <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i> Delete
        </button>
    </form>
{% endblock %}
