{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Scala Dining {{ date }} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/dining.css' %}">
{% endblock %}

{% block content %}
    {# Add space to bottom for the navigation tabs #}
    <div style="margin-bottom: 100px;">{% block details%}{% endblock details %}</div>

    {# Navigation tabs #}
    <div class="fixed-bottom bg-light">
        <div class="container text-center">
            <p class="lead">
                {{ dining_list.association }} - {{ dining_list.date }}
            </p>
            <div class="row">
                <div class="col px-1">
                    <a class="btn btn-primary btn-block dining-nav {% if tab == "info" %}active{% endif %}"
                       href="{% url 'slot_details' day=date.day month=date.month year=date.year identifier=dining_list.association.slug %}">
                        <span class="h4">
                            <i class="fas fa-info"></i>
                            <span class="d-none d-md-inline">Info</span>
                        </span>

                        {% if comments_unread > 0 %}
                            <span class="badge badge-warning align-top">{{ comments_total }}</span>
                        {% elif comments_total > 0 %}
                            <span class="badge badge-dark align-top">{{ comments_total }}</span>
                        {% endif %}
                    </a>
                </div>
                <div class="col px-1">
                    <a class="btn btn-primary btn-block dining-nav {% if tab == "list" %}active{% endif %}"
                       href="{% url 'slot_list' day=date.day month=date.month year=date.year identifier=dining_list.association.slug %}">
                        <span class="h4">
                            <i class="fas fa-list-ul"></i>
                            <span class="d-none d-md-inline">Entries</span>
                        </span>
                    </a>
                </div>
                <div class="col px-1">
                    <a class="btn btn-primary btn-block dining-nav {% if tab == "allergy" %}active{% endif %}"
                       href="{% url 'slot_allergy' day=date.day month=date.month year=date.year identifier=dining_list.association.slug %}">
                        <span class="h4">
                            <i class="fas fa-skull-crossbones"></i>
                            <span class="d-none d-md-inline">Allergies</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
