{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Scala Dining {{ date }} {% endblock %}

{% block content %}
    <div class="col-12 row p-0 m-0">
        <div class="offset-2 text-center col-8 ">
            {# To specify the date format, see https://docs.djangoproject.com/en/2.1/ref/settings/#date-format #}
            {{ date }}
        </div>
    </div>

    <div class="">
        <h3>Create new dining list</h3>
        <form method="post">
            {% csrf_token %}
            {% for field in slot_form %}
                {% include 'snippets/field_snippet.html' %}
                <br>
            {% endfor %}
            <input type="submit" value="Create Dining Slot" class="btn btn-block btn-primary"/>
        </form>
    </div>
{% endblock %}