{% load dining_tags %}

<div class="col-12 mx-0 my-2 btn d-inline-flex text-left
        {% if interactive %}py-4
            {% if slot|has_joined:user %}
                btn-success
            {% else %}
                {% if slot|can_join:user %}
                    btn-outline-info
                {% else %}
                    btn-outline-disabled
                {% endif %}
            {% endif %}
        {% endif %}">
    <div class="col-2 slot_image"
         {% if slot.association and slot.association.image %}style="background-image: url({{ slot.association.image.url }});"{% endif %}></div>
    <div class="col-8">
        <div class="text-size-5">{{ slot|short_owners_string }}</div>
        <div class="text-size-4">{{ slot.dish }}</div>
        <br>
        <div class="text-size-3">{{ slot.diners.count }}/{{ slot.max_diners }} diners - Serve time: {{ slot.serve_time }}</div>
    </div>

    {% if interactive %}
        {# Create the clickable frame overlay #}
        {% url 'slot_details' day=date.day month=date.month year=date.year identifier=slot.association.slug as url %}
        <a class="slot-back" href={{ url }}></a>


        {% if slot|can_join:user %}
            {% url 'entry_add' day=date.day month=date.month year=date.year identifier=slot.association.slug as url%}
            {% url 'slot_details' day=date.day month=date.month year=date.year identifier=slot.association.slug as next%}
            <form method="post" action="{{ url }}?next={{ next }}" class="btn-block col-2 slot-signup d-none d-md-inline-flex">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{ user.pk }}">
                <button type="submit" class="btn-block btn btn-primary slot-signup"></button>
            </form>
        {% else %}
            {% with entry=slot|get_entry:user %}
                {% if entry and entry|can_delete_entry:user %}
                    {% url 'entry_delete' pk=entry.pk as url %}
                    {% url 'day_view' day=date.day month=date.month year=date.year as next %}
                    <form method="post" action="{{ url }}?next={{ next }}" class="btn-block col-2 slot-signup d-none d-md-inline-flex">
                        {% csrf_token %}
                        <button type="submit" class="btn-block btn btn-primary slot-unlist"></button>
                    </form>
                {% endif %}
            {% endwith %}
        {% endif %}
    {% endif %}
</div>