{% load form_extras %}

<div class="row col-12 m-0 p-0 p-md-2 py-2 diningentry
    {% if entry.user == request.user and entry|get_class == "DiningEntry" %}diningentry-user{% endif %}">
    <div class="{% if can_delete_all or can_delete_some %} col-10 col-sm-11 {% else %} col-12 {% endif %}">
        <div class="row pr-2">
            {% if entry|get_class == "DiningEntry" %}
                <div class="col-12 col-md-6 p-0">
                    {{ entry.user }}
                </div>

                <div class="text-size-2 text-center col-12 col-md-6 pr-3">
                    <div class="row dining-help-row">
                        <div class="col-3 p-0">
                            <input type="checkbox" id="{{ entry.id }}:shop" name="{{ entry.id }}:has_shopped"
                                    {% if entry.has_shopped %} checked {% endif %}
                                    {% if not can_edit_stats %} disabled {% endif %}>
                            <label for="{{ entry.id }}:shop" class="btn btn-checkbox dining_stat dining-shop"></label>
                        </div>
                        <div class="col-3 p-0">
                            <input type="checkbox" id="{{ entry.id }}:cook" name="{{ entry.id }}:has_cooked"
                                    {% if entry.has_cooked %} checked {% endif %}
                                    {% if not can_edit_stats %} disabled {% endif %}>
                            <label for="{{ entry.id }}:cook" class="btn btn-checkbox dining_stat dining-cook"></label>
                        </div>
                        <div class="col-3 p-0">
                            <input type="checkbox" id="{{ entry.id }}:clean" name="{{ entry.id }}:has_cleaned"
                                    {% if entry.has_cleaned %} checked {% endif %}
                                    {% if not can_edit_stats %} disabled {% endif %}>
                            <label for="{{ entry.id }}:clean" class="btn btn-checkbox dining_stat dining-cleaned"></label>
                        </div>
                        <div class="col-3 p-0">
                            <input type="checkbox" id="{{ entry.id }}:paid" name="{{ entry.id }}:has_paid"
                                    {% if entry.has_paid %} checked {% endif %}
                                    {% if not can_edit_pay %} disabled {% endif %}>
                            <label for="{{ entry.id }}:paid" class="btn btn-checkbox dining_stat dining-paid"></label>
                        </div>
                    </div>
                </div>

            {% elif entry|get_class == "DiningEntryExternal" %}
                <div class="col-12 col-md-6 p-0">
                    {{ entry.name }}
                    <span class="text-size-2 show-md">
                    Added by {{ entry.user }}
                    </span>
                </div>

                <div class="col-12 col-md-6 pr-3">
                    <div class="row dining-help-row">
                        <div class="col-9">
                            <span class="hide-md text-size-3">Added by {{ entry.user }}</span>
                        </div>
                        <div class="offset-md-9 col-3 p-0">
                            <input type="checkbox" id="E{{ entry.id }}:paid" name="E{{ entry.id }}:has_paid"
                                    {% if entry.has_paid %} checked {% endif %}
                                    {% if not can_edit_pay %} disabled {% endif %}>
                            <label for="E{{ entry.id }}:paid" class="btn btn-checkbox dining_stat dining-paid"></label>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if can_delete_all %}
        <a class="col-2 col-sm-1 btn btn-block btn-dining-delete"
        href="{% url 'entry_remove' day=date.day month=date.month year=date.year identifier=dining_list.association.associationdetails.shorthand id=entry.EID %}"></a>
    {% elif is_open and can_delete_some %}
        {% if request.user == entry.user %}
            <a class="col-2 col-sm-1 btn btn-block btn-dining-delete"
               href="{% url 'entry_remove' day=date.day month=date.month year=date.year identifier=dining_list.association.associationdetails.shorthand id=entry.EID %}"></a>
        {% endif %}
    {% endif %}
</div>


