{% load dining_tags %}

<div class="col-12 mx-0 my-2 btn d-inline-flex text-left
        {% if interactive %}py-4
            {% if slot|is_on_slot:request.user %}
                btn-success
            {% else %}
                {% if slot|can_join_slot:request.user %}
                    btn-outline-info
                {% else %}
                    btn-outline-disabled
                {% endif %}
            {% endif %}
        {% endif %}">
    <div class="col-2 slot_image"
         {% if slot.association and slot.association.image %}style="background-image: url({{ slot.association.image.url }});"{% endif %}></div>
    <div class="col-8">
        <div class="text-size-5">
        {% if slot.claimed_by %}
            {{ slot.claimed_by }}
        {% else %}
            Slot is unclaimed!
        {% endif %}</div>
        <div class="text-size-4">{{ slot.dish }}</div>
        <br>
        <div class="text-size-3">{{ slot.diners.count }}/{{ slot.max_diners }} diners - Serve time: {{ slot.serve_time }}</div>
    </div>

    {% if interactive %}
        {% with slot|can_join_slot:request.user as can_join %}
            {% if not slot.is_open and slot|is_on_slot:request.user %}
                <div class="col-2 slot-signed"></div>
            {% endif %}

            {# Create the clickable frame overlay #}
            {% url 'slot_details' day=date.day month=date.month year=date.year identifier=slot.association.slug as url %}
            <a class="slot-back" href={{ url }}></a>


            {% if can_join %}
                {% url 'entry_add' day=date.day month=date.month year=date.year identifier=slot.association.slug as url%}
                {% url 'slot_details' day=date.day month=date.month year=date.year identifier=slot.association.slug as next%}
                <form method="post" action="{{ url }}?next={{ next }}" class="btn-block col-2 slot-signup d-inline-flex">
                    {% csrf_token %}
                    <button type="submit" class="btn-block btn btn-primary slot-signup"></button>
                </form>
            {% elif slot|is_on_slot:request.user and slot.is_open %}
                {% url 'entry_remove' day=date.day month=date.month year=date.year identifier=slot.association.slug as url %}
                {% url 'day_view' day=date.day month=date.month year=date.year as next%}
                <form method="post" action="{{ url }}?next={{ next }}" class="btn-block col-2 slot-signup d-inline-flex">
                    {% csrf_token %}
                    <button type="submit" class="btn-block btn btn-primary slot-unlist"></button>
                </form>
            {% endif %}
        {% endwith %}
    {% endif %}
</div>