{% extends 'mail/base.html' %}
{% load credit_tags %}
{% block content %}
    <p>
        Hi {{ recipient.first_name }}
    </p>
    <p>
        {{ transaction.created_by }} has withdrawn {{ transaction.amount|euro }} from your Scala Dining account,
        with the description '{{ transaction.description }}'.
        If this is incorrect, please contact the site operator or a Scala board member as soon as possible.
    </p>
    <p>
        To view the full transaction details, visit the
        <a href="{{ site_uri }}{% url 'credits:transaction_list' %}">transaction history</a> page.
    </p>
{% endblock %}
