{% extends 'base.html' %}
{% load credit_tags %}


{% block content %}
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                {% with d=payment.dining_list.date %}
                    <a href="{% url 'day_view' year=d.year month=d.month day=d.day %}">
                        {{ d|date:"SHORT_DATE_FORMAT" }}
                    </a>
                {% endwith %}
            </li>
            <li class="breadcrumb-item">
                <a href="{{ payment.dining_list.get_absolute_url }}">Dining list</a>
            </li>
            <li class="breadcrumb-item active">Groceries payment</li>
        </ol>
    </nav>
    <h3>Groceries payment</h3>
    <div class="row mb-3">
        <div class="col-sm-2"><strong>Cost</strong></div>
        <div class="col-sm-10">{{ payment.total_cost|euro }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2"><strong>Cost per person</strong></div>
        <div class="col-sm-10">{{ payment.cost_pp|euro }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2"><strong>Payment link</strong></div>
        <div class="col-sm-10">
            {% if payment.payment_link %}
                <a href="{{ payment.payment_link }}" target="_blank">{{ payment.payment_link }}</a>
            {% else %}-{% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2"><strong>Phone number</strong></div>
        <div class="col-sm-10">{{ payment.phone_number|default:"-" }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2"><strong>E-mail</strong></div>
        <div class="col-sm-10">{% if payment.include_email %}{{ payment.receiver.email }}{% else %}-{% endif %}</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2"><strong>Remarks</strong></div>
        <div class="col-sm-10">{{ payment.remarks|default:"-" }}</div>
    </div>
    <h4>Diners</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Diner</th>
            <th scope="col">Paid</th>
            <th scope="col">Change</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in payment.entries.all %}
            <tr>
                <td>
                    {% if entry.is_external %}
                        {{ entry.external_name }} <span class="badge badge-secondary">External diner</span>
                    {% else %}{{ entry.user }}{% endif %}
                </td>
                <td>
                    {% if entry.paid %}
                        <span class="text-success"><i class="fas fa-check-circle"></i> Paid</span>
                    {% else %}
                        <span class="text-danger"><i class="fas fa-times-circle"></i> Not paid</span>
                    {% endif %}
                </td>
                <td>
                    {% if entry.transaction %}
                        <button type="button" disabled class="btn btn-outline-success btn-sm">Paid automatically</button>
                    {% else %}
                        <form method="post" action="{% url 'groceries:payment-detail' pk=payment.pk %}"
                              class="d-inline-block">
                            {% csrf_token %}
                            <input type="hidden" name="entry_id" value="{{ entry.pk }}">
                        {% if entry.paid %}
                            <button type="submit" name="paid" value="false" class="btn btn-outline-danger btn-sm">
                            Set not paid
                            </button>
                        {% else %}
                            <button type="submit" name="paid" value="true" class="btn btn-outline-success btn-sm">
                            Set paid
                            </button>
                        {% endif %}
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-warning mb-3"><i class="fas fa-ban"></i> Cancel</button>
    <p>Cancelling a groceries payment will refund all automatic charges.</p>
{% endblock %}