{% extends 'base.html' %}
{% load credit_tags %}

{% block content %}
    <p><a href="{{ dining_list.get_absolute_url }}">← Back to dining list</a></p>
    <h2>Split grocery costs</h2>
    <p>
        If you paid for groceries, use this page to split the costs over all diners.
        Fill in price and payment info; when you submit the form all diners will be informed and
        given the option to pay you directly from their account balance to yours,
        or using the payment info you provided.
    </p>
    <p>
        <strong>Multiple grocery shoppers?</strong> If you're not the only one who bought groceries, the other
        person can also create a split for their own part.
    </p>
    <form action="{% url 'groceries:payment-create' pk=dining_list.pk %}" method="post">
        {% csrf_token %}
        {% include 'snippets/bootstrap_form.html' with horizontal=True fields=form.visible_fields|slice:"0:1" %}
        <div class="form-group row">
            <label for="nrDiners" class="col-sm-2 col-form-label">Number of diners</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="nrDiners"
                       value="{{ dining_list.diners.count }}">
                <small class="form-text text-muted">To change, add or remove diners on the dining list.</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="costPP" class="col-sm-2 col-form-label">Cost per person</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="costPP" value="-">
                <small class="form-text text-muted">Total cost divided by number of diners, rounded up.</small>
            </div>
        </div>
        <h3>Payment info</h3>
        <p>
            Provide payment info for the people who prefer not to pay using their account balance.
            The info will be remembered for the next time you create a payment.
        </p>
        {# Only render the payment info fields #}
        {% include 'snippets/bootstrap_form.html' with horizontal=True fields=form.visible_fields|slice:"1:4" %}
        <h3>Contact info</h3>
        <p>
            Helpful in case of payment issues, change it in <a href="{% url 'settings_account' %}">account
            settings</a>.
        </p>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">E-mail address</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="email"
                       value="{% if user.email_public %}{{ user.email }}{% else %}-{% endif %}">
            </div>
        </div>
        <div class="form-group row">
            <label for="phoneNumber" class="col-sm-2 col-form-label">Phone number</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="phoneNumber"
                       value="{{ user.phone_number|default:"-" }}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Create groceries payment</button>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Ugly as hell
            let totalCost = document.getElementById('id_total_cost');
            let costPP = document.getElementById('costPP');

            function setCostPP() {
                if (totalCost.value === '') {
                    costPP.value = '-';
                } else {
                    costPP.value = '€' + (Math.ceil(totalCost.value / {{ dining_list.diners.count }} * 100) / 100).toFixed(2);
                }
            }

            totalCost.addEventListener('input', setCostPP);
            setCostPP();  // Execute once at page load, in case the value was prefilled (e.g. for bound form)
        });
    </script>
{% endblock %}
