{% extends 'base_no_navbar.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/Log-in.css' %}">
{% endblock %}


{% block body %}
<div class="col-12 login-heightcontrol">
    <div class="DiningLogo"></div>
    <p class="text-center DiningTitle">Scala Dining</p>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-6 order-sm-1 login-heightcontrol">
            <div class="position-relative h-100">
                <div class="login-reg_height_offset text-center">
                    Are you hungry?
                    <br>
                    Sign up now and join dinner with the other culture associations.
                </div>
                <br class="d-sm-none">
                <br class="d-sm-none">
                <a class="btn btn-block btn-primary login-hooklow" href="{% url 'register' %}">Create account</a>
                <div class="login-horline d-sm-none d-block"></div>
            </div>
        </div>
        <div class="col-sm-6 order-sm-0 login-heightcontrol">
            <div class="login-verline d-none d-sm-block"></div>

            <form method="post" class="position-relative h-100">
                <div class="login-log_height_offset">
                    <p class="hide-sm text-center">Already have an account? Log in!</p>
                    {% csrf_token %}
                    {% include "snippets/bootstrap_form.html" %}
                </div>
                <p><a href="{% url 'oidc_authentication_init' %}">Quadrivium member? Click here.</a></p>
                <button type="submit" class="btn btn-block btn-primary login-hooklow">Log in</button>
            </form>

        </div>
        <!--<div class="verticalLine"></div>-->
    </div>
</div>
{% endblock %}