{% load form_extras %}

<div class="row m-0">

    {% for error in field.errors %}
        <div class="error offset-sm-3 col-sm-9">{{ error }}</div>
    {% endfor %}
    <div class="col-sm-3 col-10 p-0">
    {{ field.label_tag}}
    </div>
    {% if field.errors %}
        {{ field|css:"col-12 col-sm-8 error order-1 order-sm-0" }}
    {% else %}
        {{ field|css:"col-12 col-sm-8 order-1 order-sm-0" }}
    {% endif %}

    {% if field.help_text %}
        <input type="checkbox" id="tooltip_{{ field.name }}" class="tooltip hide">
        <label for="tooltip_{{ field.name }}" class="col-2 col-sm-1 btn btn-checkbox">
            ?
        </label>


        <div class="tooltipInfo offset-sm-3 col-sm-9">
            {{ field.help_text|safe }}
        </div>
    {% endif %}




</div>

