{% if not user.has_min_balance_exception %}
    {% if user.usercredit.balance < 0 %}
        {% if user.usercredit.balance < MINIMUM_BALANCE_FOR_DINING_SIGN_UP %}
            <div class="alert alert-danger d-flex justify-content-between align-items-center" role="alert">
                Your balance is too low to join dining lists, upgrade your balance now!
                {% url 'upgrade_instructions' as help_url %}
                {% if request.path != help_url %}
                    <a href="{{ help_url }}" class="btn btn-info">Learn how</a>
                {% endif %}
            </div>
        {% else %}
            <div class="alert alert-warning d-flex justify-content-between align-items-center" role="alert">
                Your balance is currently below zero, please upgrade your balance.
                {% url 'upgrade_instructions' as help_url %}
                {% if request.path != help_url %}
                    <a href="{{ help_url }}" class="btn btn-info">Learn how</a>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endif %}