{% with balance=user.account.get_balance %}
    {% if not user.has_min_balance_exception and balance < 0 %}
        <div class="alert d-flex justify-content-between align-items-center {% if balance < MINIMUM_BALANCE_FOR_DINING_SIGN_UP %}alert-danger{% else %}alert-warning{% endif %}"
             role="alert">
            <span>
                {% if balance < MINIMUM_BALANCE_FOR_DINING_SIGN_UP %}
                    Your balance is too low to join dining lists, upgrade your balance now!
                {% else %}
                    Your balance is currently below zero, please upgrade your balance.
                {% endif %}
            </span>
            {% url 'upgrade_instructions' as help_url %}
            {% if request.path != help_url %}
                <a href="{{ help_url }}" class="btn btn-info">Learn how</a>
            {% endif %}
        </div>
    {% endif %}
{% endwith %}
